.wrapper {
  padding: 5%;
  width: 100%;
  max-width: 1600px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.container {
  margin: auto;
  width: 80%;
  height: 700px;
  padding: 3%;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}

/* Aside */
app-aside {
  width: 30%;
}
/* Details */

.vertical-line {
  width: 1.2px;
  height: 100%;
  background-color: darkgray;
}

.agency-info {
  width: 65%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info-header {
  display: flex;
  gap: 10px;
}

.info-header p {
  display: flex;
  font-size: 1.1rem;
  color: #c7c7c7;
  letter-spacing: 0.5px;
  align-items: center;
}

.info-header p mat-icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
}

.info-header h1 {
  color: #555555;
  font-weight: 900;
  letter-spacing: 0.6px;
}
.rating-container {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.rating-container h4 {
  color: #555555;
  font-weight: 900;
  letter-spacing: 0.6px;
}

.rating-container h1 {
  color: #303030;
  font-weight: 900;
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.stars {
  display: flex;
}

.stars mat-icon {
  width: 22px;
  height: 25px;
  font-size: 23px;
  color: #0d47a1;
}

.btns {
  margin-top: 5%;
  display: flex;
  align-items: center;
  gap: 18px;
  height: 50px;
}

.btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: 25%;
  height: 100%;
  background-color: #fff;
  color: #008dfe;
  border: 2px solid #008dfe;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btns button:hover {
  background-color: #008dfe;
  color: #fff;
}

.btns button span {
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.info-container {
  width: 100%;
  border-top: 1.2px solid darkgray;
}

app-message-form {
  display: none;
}

app-contacts {
  /* display: none; */
}
