.wrapper {
  padding: 5%;
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

.content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.container {
  margin: auto;
  width: 80%;
  padding: 3%;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}

app-aside {
  width: 30%;
}

.agency-info {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-header {
  display: flex;
  gap: 10px;
}

.info-header p {
  display: flex;
  font-size: 1.1rem;
  color: #c7c7c7;
  letter-spacing: 0.5px;
  align-items: center;
}

.info-header p mat-icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
}

.info-header h1 {
  color: #555555;
  font-weight: 900;
  letter-spacing: 0.6px;
}

.btns {
  margin-top: 5%;
  display: flex;
  align-items: center;
  gap: 18px;
  height: 50px;
}

.btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding-inline: 14px;
  height: 100%;
  max-height: 50px;
  background-color: #fff;
  color: #008dfe;
  border: 2px solid #008dfe;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btns button:hover {
  background-color: #008dfe;
  color: #fff;
}

.btns button span {
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.info-container {
  width: 100%;
  border-top: 1.2px solid darkgray;
  margin-top: 30px;
}

.message {
  display: none;
  min-height: 360px;
}

.contacts {
  display: block;
  min-height: 360px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .content-container {
    flex-direction: column;
  }

  app-aside {
    width: 100%;
  }

  .agency-info {
    width: 100%;
    align-items: center;
  }

  .info-container {
    width: 80%;
  }

  .btns {
    flex-wrap: wrap;
    min-height: 125px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }

  .info-container {
    width: 100%;
  }

  .btns {
    flex-wrap: wrap;
    min-height: 125px;
  }
}

@media screen and (max-width: 380px) {
  .info-header {
    text-align: center;
  }

  .not-owner {
    min-height: 175px !important;
    justify-content: flex-start;
  }
}
