<section class="wrapper">
  <div class="container">
    <aside class="aside">
      <div class="img-container">
        <img
          src="https://res.cloudinary.com/dlw7pmlvx/image/upload/v1668376214/cld-sample.jpg"
          alt=""
        />
      </div>
      <div class="line"></div>
    </aside>
    <div class="agency-info">
      <div class="info-header">
        <h1>Agency Name</h1>
        <p><mat-icon>location_on</mat-icon><span>agency country</span></p>
      </div>
      <div class="rating-container">
        <h4>Rating</h4>
        <div class="rating">
          <h1>5</h1>
          <div class="stars">
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
          </div>
        </div>
      </div>
      <div class="btns">
        <button class="message-btn" >
          <mat-icon>message</mat-icon>
          <span>Message</span>
        </button>
        <button class="contacts">
          <mat-icon>contacts</mat-icon>
          <span>Contacts</span>
        </button>
        <button class="offers">
          <mat-icon>storefront</mat-icon>
          <span>Offers</span>
        </button>
      </div>
      <div class="info-container">
        <div class="send-message">
          <h3>Message Form</h3>
          <form>
            <div class="message-title">
              <input type="text" name="title" placeholder="Message Title" />
            </div>
            <div class="message-text">
              <textarea name="message" cols="30" rows="10"></textarea>
            </div>
            <button class="send-btn">
              <span>Send</span>
              <mat-icon>send</mat-icon>
            </button>
          </form>
        </div>
        <div class="agency-contacts">
          <h3>Contact Information</h3>
          <div class="details">
            <h4 class="detail"><span>Phone:</span><span>0987986989</span></h4>
            <h4 class="detail">
              <span>Address:</span><span>agency address</span>
            </h4>
            <h4 class="detail"><span>Email:</span><span>agency email</span></h4>
            <h4 class="detail">
              <span>Website:</span><span>agency website</span>
            </h4>
          </div>
          <div class="basic-info">
            <h4 class="detail">
              <span>In Vacation-App From:</span><span>10/12/2022</span>
            </h4>
            <h4 class="detail"><span>Added Offers:</span><span>10</span></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
