<section class="wrapper" *ngIf="!(isLoading$ | async)">
  <div class="container">
    <div class="content-container">
      <app-aside [image]="agencyData.image"></app-aside>
      <div class="vertical-line"></div>
      <div class="agency-info">
        <div class="info-header">
          <h1>{{ agencyData.agencyName }}</h1>
          <p>
            <mat-icon>location_on</mat-icon
            ><span>{{ agencyData.country }}, {{ agencyData.town }}</span>
          </p>
        </div>
        <div class="btns">
          <button
            (click)="changeActionHandler(messageForm, contacts)"
            class="message-btn"
          >
            <mat-icon>message</mat-icon>
            <span>Message</span>
          </button>
          <button
            (click)="changeActionHandler(contacts, messageForm)"
            class="contacts-btn"
          >
            <mat-icon>contacts</mat-icon>
            <span>Contacts</span>
          </button>
          <button class="offers">
            <mat-icon>storefront</mat-icon>
            <span>Offers</span>
          </button>
        </div>
        <div class="info-container">
          <div #messageForm class="message">
            <app-message-form></app-message-form>
          </div>
          <div #contacts class="contacts">
            <app-contacts [agencyData]="agencyData"></app-contacts>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
