.send-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 3% 0;
}

.send-massage h3 {
  font-size: 1.1rem;
  color: #c7c7c7;
  letter-spacing: 0.5px;
}

.send-message form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 20px;
}
.message-title {
  width: 50%;
}

.message-title input {
  width: 100%;
  padding: 5%;
  border: 1px solid darkgray;
  border-radius: 5px;
}

.message-text {
  width: 100%;
  margin-top: 20px;
}

.message-text textarea {
  border: 1px solid darkgray;
  width: 100%;
  border-radius: 5px;
}

.send-btn {
  width: 35%;
  margin-top: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #008dfe;
  border: 2px solid #008dfe;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.send-btn:hover {
  background-color: #008dfe;
  color: #fff;
}

.send-btn mat-icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
}

.send-btn span {
  font-size: 1rem;
  font-weight: 700;
}
