<nav class="nav flex">
  <section class="logo-container aside flex">
    <a routerLink="/"><img src="/assets/img/logo.jpg" alt="logo" /></a>
  </section>

  <section class="categories flex">
    <ul class="links flex">
      <li><a routerLink="/offers/countries">Countries</a></li>
      <li><a routerLink="">Top Offers</a></li>
      <li><a routerLink="/offers/top-agencies">Top Agencies</a></li>
      <li><a routerLink="about-us">About Us</a></li>
    </ul>
  </section>

  <section *ngIf="!(isLogged$ | async)" class="sign-up aside flex">
    <a routerLink="/auth/login" class="btn">
      <span>Sign up</span>
      <mat-icon class="login-icon">login</mat-icon>
    </a>
  </section>

  <section *ngIf="isLogged$ | async" class="profile">
    <article *ngIf="(currentUser$ | async)?.isAgency" class="agency-nav">
      <a routerLink="/offer/create"> Add new offer </a>
      <app-account-nav></app-account-nav>
    </article>
    <article *ngIf="!(currentUser$ | async)?.isAgency">
      <p>asdasd</p>
    </article>
  </section>

  <section class="mobile-menu">
    <button mat-button class="mobile-btn" (click)="openMobileNav(mobileNav)">
      <mat-icon>menu</mat-icon>
    </button>
  </section>
</nav>
<aside class="mobile-nav" #mobileNav>
  <div class="close-btn-container">
    <button
      mat-button
      class="close-mob-btn"
      (click)="closeMobileNav(mobileNav)"
    >
      <mat-icon>close</mat-icon>
    </button>
    <div class="space"></div>
  </div>
  <app-mobile-nav></app-mobile-nav>
</aside>
