<nav class="nav flex">
  <section class="logo-container aside flex">
    <a routerLink="/"><img src="/assets/img/logo.jpg" alt="logo" /></a>
  </section>

  <section class="categories flex">
    <ul class="links flex">
      <li><a routerLink="">Categories</a></li>
      <li><a routerLink="">Top Offers</a></li>
      <li><a routerLink="">Top Agencies</a></li>
      <li><a routerLink="about-us">About Us</a></li>
    </ul>
  </section>

  <section class="sign-up aside flex">
    <a routerLink="/auth/login" class="btn">
      <span>Sign up</span>
      <mat-icon class="login-icon">login</mat-icon>
    </a>
  </section>
  <section class="mobile-menu">
    <button mat-button class="mobile-btn" (click)="openMobileNav(mobileNav)">
      <mat-icon>menu</mat-icon>
    </button>
  </section>
</nav>
<aside class="mobile-nav" #mobileNav>
  <div class="close-btn-container">
    <button
      mat-button
      class="close-mob-btn"
      (click)="closeMobileNav(mobileNav)"
    >
      <mat-icon>close</mat-icon>
    </button>
    <div class="space"></div>
  </div>
  <ul class="mobile-links">
    <li>
      <a routerLink="/auth/login">
        <span>Sign Up</span>
        <mat-icon>login</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="">
        <span>Categories</span>
        <mat-icon>dataset</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="">
        <span>Top Offers</span>
        <mat-icon>star</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="">
        <span>Top Agencies</span>
        <mat-icon>insert_chart</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="/about-us">
        <span>About Us</span>
        <mat-icon>support_agent</mat-icon>
      </a>
    </li>
  </ul>
</aside>
