<nav class="nav">
  <section class="logo-container">
    <a routerLink="/"><img src="/assets/img/logo.jpg" alt="logo" /></a>
  </section>

  <section class="categories">
    <ul class="links">
      <li><a routerLink="/countries">Countries</a></li>
      <li>
        <a routerLink="/offers">Offers</a>
      </li>
      <li><a routerLink="/top-agencies">Top Agencies</a></li>
    </ul>
  </section>

  <section *ngIf="!(isLogged$ | async)" class="sign-up">
    <article class="absolute">
      <a routerLink="/auth" class="btn">
        <span>Sign Up</span>
        <mat-icon class="login-icon">login</mat-icon>
      </a>
      <div class="underline btns"></div>
    </article>
  </section>

  <section *ngIf="isLogged$ | async" class="profile">
    <article
      *ngIf="(currentUser$ | async)?.isAgency"
      class="account-nav absolute"
    >
      <a routerLink="/agency/create-offer"> Add new offer </a>
      <div class="underline"></div>
      <app-account-nav></app-account-nav>
    </article>
    <article
      *ngIf="!(currentUser$ | async)?.isAgency"
      class="account-nav absolute"
    >
      <a routerLink="/user/favourites">My Favourites</a>
      <div class="underline"></div>
      <app-account-nav></app-account-nav>
    </article>
  </section>

  <section
    appClickOutside
    (clickOutside)="clickedOutside(mobileNav)"
    class="mobile-menu"
  >
    <button mat-button class="mobile-btn" (click)="openMobileNav(mobileNav)">
      <mat-icon>menu</mat-icon>
    </button>
  </section>
</nav>
<aside class="mobile-nav" #mobileNav>
  <button mat-button class="close-mob-btn" (click)="closeMobileNav(mobileNav)">
    <mat-icon>close</mat-icon>
  </button>
  <div *ngIf="isLogged$ | async" class="mob-profile">
    <img
      *ngIf="!(currentUser$ | async)?.image"
      src="/assets/img/default-user.png"
      alt="profile-photo"
    />
    <img
      *ngIf="(currentUser$ | async)?.image"
      [src]="(currentUser$ | async)?.image"
      alt="profile-photo"
    />
    <h1 *ngIf="(currentUser$ | async)?.isAgency">
      Hello, {{ (currentUser$ | async)?.agencyName }}
    </h1>
    <h1 *ngIf="!(currentUser$ | async)?.isAgency">
      Hello, {{ (currentUser$ | async)?.username }}
    </h1>
  </div>
  <app-mobile-nav></app-mobile-nav>
</aside>
<div class="message" #messageContainer>
  <app-message [message]="message" [isError]="isError"></app-message>
</div>
