.nav {
  height: 100%;
  display: flex;
}

.categories {
  width: 50%;
  padding-bottom: 5px;
  justify-content: center;
  align-items: flex-end;
}

.links {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 30px;
}

.logo-container,
.categories,
.sign-up {
  display: flex;
  height: 100%;
}

.logo-container {
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}

.links a {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.4s ease;
}

.links a:hover {
  text-shadow: 2px 2px 8px #000000;
  color: #f2f4f5;
}

.sign-up {
  height: 100%;
  width: 25%;
  align-items: center;
  justify-content: flex-end;
}

.btn {
  display: flex;
  border: 3px solid white;
  border-radius: 10px;
  padding: 5px 18px;
  align-items: center;
  gap: 2px;
  margin-right: 15px;
  transition: all 0.4s ease;
}

.btn span {
  font-size: 22px;
  font-weight: 500;
}

.login-icon {
  padding-top: 2px;
}

.btn:hover {
  background-color: #fff;
  color: #3f51b5;
}

.logo-container a {
  display: block;
  width: 72px;
  border-radius: 50%;
  margin-left: 4%;
}

.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: inherit;
}

.mobile-menu {
  display: none;
  width: 20%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.mobile-menu mat-icon {
  color: white;
}
.mobile-nav {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  flex-direction: column;
  background-color: #fff;
  z-index: 10;
  border-left: 1px solid;
  padding-top: 40px;
  transition: all 0.5s ease;
}

.close-mob-btn {
  position: absolute;
  top: 5px;
  left: 5px;
}

.close-mob-btn mat-icon {
  color: #3f51b5;
}

.space {
  flex: 1;
}

.profile {
  position: relative;
  width: 25%;
  height: 100%;
}

.account-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  width: 200px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.account-nav a {
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 6px 8px;
  transition: all 0.3s ease;
}

.account-nav a:hover {
  background-color: #fff;
  color: #3f51b5;
}

.underline {
  position: absolute;
  bottom: -8px;
  right: -5px;
  border-radius: 20px;
  content: "";
  width: 250px;
  height: 2px;
  background: linear-gradient(90deg, #3f51b5, #f2f4f5 50%, #3f51b5);
}

.mob-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.mob-profile img {
  width: 80px;
  border-radius: 50%;
}

@media screen and (max-width: 900px) {
  .account-nav {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .links a {
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) {
  .sign-up {
    display: none;
  }

  .categories,
  .sign-up {
    display: none;
  }

  .nav {
    justify-content: space-between;
  }

  .mobile-menu {
    display: flex;
  }

  .mobile-nav {
    display: flex;
  }
}
