.nav {
  height: 100%;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside {
  width: 20%;
}

.categories {
  width: 60%;
  align-items: flex-end;
  padding-bottom: 5px;
}

.links {
  align-items: center;
  gap: 40px;
}

.logo-container,
.categories {
  height: 100%;
}

.links a {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.4s ease;
}

.links a:hover {
  text-shadow: 2px 2px 8px #000000;
  color: #f2f4f5;
}

.sign-up {
  height: 100%;
}

.btn {
  display: flex;
  border: 5px solid white;
  border-radius: 50px;
  padding: 4px 24px;
  align-items: center;
  gap: 2px;
  transition: all 0.4s ease;
}

.btn span {
  font-size: 22px;
  font-weight: 500;
}

.login-icon {
  padding-top: 2px;
}

.btn:hover {
  background-color: #fff;
  color: #3f51b5;
}

.logo-container a {
  display: block;
  width: 80px;
  border-radius: 50%;
  margin-left: 20%;
}

.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: inherit;
}

.mobile-menu {
  display: none;
}

.mobile-menu mat-icon {
  color: white;
}
.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  flex-direction: column;
  background-color: #fff;
  z-index: 10;
  border-left: 1px solid;
  transition: all 0.5s ease;
}

.close-btn-container {
  display: flex;
  height: 60px;
}

.space {
  flex: 1;
}

@media screen and (max-width: 1050px) {
  .links a {
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  .sign-up {
    display: none;
  }

  .categories,
  .sign-up {
    display: none;
  }

  .nav {
    justify-content: space-between;
  }

  .mobile-menu {
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .mobile-nav {
    display: flex;
  }
}
