.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-container {
  background-color: #fff;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  margin-block: 65px;
  align-items: center;
  padding: 35px 30px 70px 30px;
  gap: 40px;
  width: 80%;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  width: 100%;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex {
  width: 80%;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
}

.offer-destination {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.offer-destination div {
  width: 35%;
}

.offer-price {
  justify-content: unset;
}

.offer-price input {
  width: 30%;
  margin-left: 10%;
}
.offer-price .error {
  margin-left: 10%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.offer-images input {
  display: none;
}

.offer-images {
  width: 80%;
  border: 2px dashed #3f51b5;
  padding-block: 50px;
  padding-inline: 50px;
  background-color: #f0f8ff;
  border-radius: 10px;
  text-align: center;
}

.offer-images:hover {
  cursor: pointer;
}

button[type="submit"] {
  width: 30%;
  padding: 12px 30px;
  background-color: #fff;
  color: #3f51b5;
  border: 3px solid #3f51b5;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s ease;
  text-align: center;
}

button[type="submit"]:hover {
  cursor: pointer;
  background-color: #3f51b5;
  color: #fff;
}

.error {
  align-self: flex-start;
}

@media screen and (max-width: 900px) {
  .form-container {
    width: 95%;
  }

  button[type="submit"] {
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .form-container {
    padding-inline: 0;
  }

  button[type="submit"] {
    width: 50%;
  }

  .offer-destination {
    flex-wrap: wrap;
    gap: 40px;
  }

  .offer-title input {
    width: 90%;
  }

  .offer-description textarea {
    width: 90%;
    height: 150px;
  }

  .offer-destination input {
    width: 90%;
  }

  .offer-images {
    width: 90%;
  }

  .offer-price {
    justify-content: center;
  }

  .offer-price input {
    width: 90%;
    margin: unset;
  }
}

@media screen and (max-width: 480px) {
  input {
    width: 90%;
    padding: 10px;
  }
}
