<app-spinner *ngIf="isLoading"></app-spinner>
<section class="wrapper" *ngIf="!isLoading">
  <div class="container">
    <article class="user-profile">
      <div class="info">
        <h1>
          <span class="username">Username: </span
          ><span>{{ profileData.username }}</span>
        </h1>
        <a class="edit" routerLink="/user/edit-profile">Edit profile</a>

        <div class="user-info">
          <h1>Contacts</h1>
          <div class="details">
            <div
              class="detail"
              *ngIf="profileData.firstName && profileData.lastName"
            >
              <h4>Name:</h4>
              <p>{{ profileData.firstName }} {{ profileData.lastName }}</p>
            </div>
            <div class="detail">
              <h4>Email:</h4>
              <p>{{ profileData.email || "(Not added...)" }}</p>
            </div>
            <div class="detail">
              <h4>Phone:</h4>
              <p>{{ profileData.phone || "(Not added...)" }}</p>
            </div>
          </div>
        </div>
        <div class="sign-up-date">
          <h5>Sign up date:</h5>
          <span
            ><strong>{{
              profileData.createdAt | date : "longDate"
            }}</strong></span
          >
        </div>
      </div>
      <div class="img-container">
        <img
          [src]="profileData.image || '/assets/img/default-user.png'"
          [alt]="profileData.username"
        />
      </div>
    </article>
    <div class="pagination-spinner-container" *ngIf="paginationLoading">
      <mat-spinner></mat-spinner>
    </div>
    <app-booked-vacations
      *ngIf="!paginationLoading"
      [bookings]="bookings"
      [profileData]="profileData"
    ></app-booked-vacations>
    <div></div>
    <app-pagination
      *ngIf="bookings.length > 0"
      (sendCurrentPage)="setCurrentPage($event)"
      [pages]="pages"
    ></app-pagination>
  </div>
</section>
