<app-spinner *ngIf="isLoading"></app-spinner>
<section class="container" *ngIf="!isLoading">
  <h1 class="title">Add Comment</h1>
  <div class="close-btn" (click)="closeCommentContainer()">
    <mat-icon>close</mat-icon>
  </div>
  <form class="form" [formGroup]="commentForm" (ngSubmit)="commentHandler()">
    <div>
      <textarea
        name="comment"
        placeholder="Write you comment here..."
        cols="30"
        rows="10"
        formControlName="content"
      ></textarea>
      <ng-container
        *ngIf="
          commentForm.controls['content'].touched &&
          commentForm.controls['content'].invalid
        "
      >
        <p
          class="error"
          *ngIf="commentForm.controls['content'].errors?.['required']"
        >
          Comment is required!
        </p>
        <p
          class="error"
          *ngIf="commentForm.controls['content'].errors?.['minlength']"
        >
          Comment is should be at least 10 characters!
        </p>
        <p
          class="error"
          *ngIf="commentForm.controls['content'].errors?.['maxlength']"
        >
          Comment is should be maximum of 100 characters!
        </p>
      </ng-container>
    </div>
    <button type="submit">
      <mat-icon>send</mat-icon>
      <span>Send</span>
    </button>
  </form>
</section>
