.container {
    background-color: #fff;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    position: relative;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .title {
    background-color: #0d47a1;
    width: 50%;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #fff;
    font-size: 28px;
    letter-spacing: 1px;
  }
  
  .close-btn {
    position: absolute;
    right: -1px;
    top: -1px;
    color: #fff;
    background-color: #0d47a1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6%;
    height: 8%;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    cursor: pointer;
  }
  
  .stars {
    margin-top: 4%;
    align-self: flex-start;
    margin-left: 11%;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #0d47a1;
  }
  
  .form {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 80%;
  }
  
  .form textarea {
    width: 100%;
    border: 1px solid #dedede;
    padding: 25px;
    border-radius: 20px;
  }
  
  .form button {
    display: flex;
    width: 35%;
    align-self: center;
    background-color: #0d47a1;
    color: #fff;
    padding: 8px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 2px solid #0d47a1;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .form button:hover {
    color: #0d47a1;
    background-color: #fff;
  }
  
  .error {
    color: red;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.3px;
    margin-left: 2%;
  }
  