<section class="wrapper">
  <div class="image-container">
    <img
      src="https://res.cloudinary.com/dlw7pmlvx/image/upload/v1670875687/about-us_zm8kbd.png"
      alt="about-us"
    />
    <div class="opacity"><h1>About Us</h1></div>
  </div>
  <article class="title">
    <h1>What drives us?</h1>
    <p>
      <strong
        >Connecting people searching for vacations with the best agencies in the
        world!</strong
      >
    </p>
  </article>
  <div class="description">
    <p>
      We are Vacation-app. Place where you will find your dreamed vacation! See
      our <a class="link" routerLink="/offers">Offers</a> or
      <a class="link" routerLing="/countries">Countries </a>catalog
    </p>
  </div>
</section>
