<app-spinner *ngIf="isLoading"></app-spinner>
<section class="wrapper" *ngIf="!isLoading">
  <div class="container">
    <article class="title">
      <h1 *ngIf="offers.length > 0">
        Offers from <span class="agency-name">{{ agency.agencyName }}</span>
      </h1>
      <ng-container *ngIf="offers.length == 0">
        <h1>No added offers...</h1>
        <a [routerLink]="['/agency/profile', agency._id]"
          >Go back to {{ agency.agencyName }} profile</a
        >
      </ng-container>
    </article>
    <div
      class="agency-offers"
    >
      <div class="pagination-spinner-container" *ngIf="paginationLoading">
        <mat-spinner></mat-spinner>
      </div>
      <ng-container *ngIf="!paginationLoading">
        <app-offer-item *ngFor="let offer of offers" [offer]="offer">
        </app-offer-item>
      </ng-container>
      <div></div>
    </div>
    <app-pagination
      [pages]="pages"
      (sendCurrentPage)="setCurrentPage($event)"
    ></app-pagination>
  </div>
</section>
