<a class="offer" routerLink="/offers">
  <div class="img-container">
    <img
      src="https://res.cloudinary.com/dlw7pmlvx/image/upload/v1668462354/vacation_ygnd1u.jpg"
      alt=""
    />
    <!-- <img
      src="https://res.cloudinary.com/dlw7pmlvx/image/upload/v1668462354/vacation_ygnd1u.jpg"
      alt=""
    />
    <img
      src="https://res.cloudinary.com/dlw7pmlvx/image/upload/v1668462354/vacation_ygnd1u.jpg"
      alt=""
    /> -->
  </div>
  <div class="info">
    <h1>Garden Palace</h1>
  </div>
</a>
