<div class="offer" (click)="routeHandler($event)">
  <div class="img-container">
    <img [src]="offer.images[0]" [alt]="offer.title" />
  </div>
  <div class="info">
    <div class="card-title">
      <h1>{{ offer.title }}</h1>
      <p class="location">
        <mat-icon>location_on</mat-icon>
        <span>{{ offer.town }}, {{ offer.country.country }}</span>
      </p>
    </div>
    <div class="card-footer">
      <h4 class="price">{{ offer.price }}$</h4>
      <button
        (click)="addToFavorite()"
        *ngIf="!(currentUser$ | async)?.isAgency && (isLogged$ | async)"
        title="Save to favorites"
        class="save-btn"
        mat-icon-button
      >
        <mat-icon>favorite_border</mat-icon>
      </button>
    </div>
  </div>
</div>
