<section class="register">
  <article class="header-container">
    <h1>Sign up</h1>
    <p>You already have account? <a routerLink="/auth/login">Login</a></p>
  </article>
  <div class="form">
    <form
      class="user"
      [formGroup]="userRegisterForm"
      (submit)="handleUserRegister()"
    >
      <div class="username">
        <label for="username">Username</label>
        <input
          [ngClass]="{
            'input-error': errHandler(userRegisterForm, 'username')
          }"
          formControlName="username"
          type="text"
          name="username"
        />
        <ng-container>
          <p
            *ngIf="userRegisterForm.controls['username'].errors?.['required'] && errHandler(userRegisterForm,'username')"
            class="error"
          >
            Username is required!
          </p>
          <p
            *ngIf="userRegisterForm.controls['username'].errors?.['minlength'] && errHandler(userRegisterForm,'username')"
            class="error"
          >
            Username should be at least 5 characters!
          </p>
        </ng-container>
      </div>
      <ng-container [formGroup]="passwordsGroup">
        <div class="password">
          <label for="password">Password</label>
          <input
            [ngClass]="{
              'input-error': errHandler(passwordsGroup, 'password')
            }"
            formControlName="password"
            type="password"
            name="password"
          />
          <ng-container>
            <p
              *ngIf="passwordsGroup.controls['password'].errors?.['required'] && errHandler(passwordsGroup,'password')"
              class="error"
            >
              Password is required!
            </p>
            <p
              *ngIf="passwordsGroup.controls['password'].errors?.['minlength'] && errHandler(passwordsGroup,'password')"
              class="error"
            >
              Password should be at least 6 characters!
            </p>
          </ng-container>
        </div>
        <div class="re-pass">
          <label for="rePassword">Repeat password</label>
          <input
            [ngClass]="{
              'input-error': errHandler(passwordsGroup, 'rePassword')
            }"
            formControlName="rePassword"
            type="password"
            name="rePassword"
          />
          <ng-container>
            <p
              *ngIf="passwordsGroup.controls['rePassword'].errors?.['required'] && errHandler(passwordsGroup,'rePassword')"
              class="error"
            >
              Repeat password is required!
            </p>
            <p
              *ngIf="passwordsGroup.controls['rePassword'].errors?.['mismatch'] && errHandler(passwordsGroup,'rePassword')"
              class="error"
            >
              Passwords don't match!
            </p>
          </ng-container>
        </div>
      </ng-container>
      <button class="sign-in-btn" type="submit">
        <span>Sign up</span>
        <mat-icon>login</mat-icon>
      </button>
    </form>
  </div>
</section>
