<section class="register">
  <article class="header-container">
    <h1>Sign up</h1>
    <p>
      You already have account? <a routerLink="/auth/user/login">Sign In</a>
    </p>
  </article>
  <div class="form-container">
    <form #registerForm="ngForm" (ngSubmit)="handleUserRegister(registerForm)">
      <div class="username">
        <input
          [ngClass]="{
            'input-error': username.touched && username.errors
          }"
          type="text"
          name="username"
          placeholder="Username"
          ngModel
          #username="ngModel"
          required
          minlength="5"
          maxlength="35"
          [ngModelOptions]="{ updateOn: 'blur' }"
          appAsyncValidator
          prop="username"
        />
        <ng-container *ngIf="username.touched">
          <p *ngIf="username.errors?.['required']" class="error">
            Username is required!
          </p>
          <p *ngIf="username.errors?.['minlength']" class="error">
            Username should be at least 5 characters!
          </p>
          <p *ngIf="username.errors?.['maxlength']" class="error">
            Username should be maximum of 35 characters!
          </p>
          <p *ngIf="username.errors?.['isExisting']" class="error">
            Username should be unique!
          </p>
        </ng-container>
      </div>
      <div class="password">
        <input
          [ngClass]="{
            'input-error': password.touched && password.errors
          }"
          type="password"
          name="password"
          placeholder="Password"
          ngModel
          #password="ngModel"
          appPasswordsValidator="rePassword"
          reverse="true"
          required
          minlength="6"
        />
        <ng-container *ngIf="password.touched">
          <p *ngIf="password.errors?.['required']" class="error">
            Password is required!
          </p>
          <p *ngIf="password.errors?.['minlength']" class="error">
            Password should be at least 6 characters!
          </p>
        </ng-container>
      </div>
      <div class="re-pass">
        <input
          [ngClass]="{
            'input-error': rePassword.touched && rePassword.errors
          }"
          type="password"
          name="rePassword"
          placeholder="Repeat password"
          ngModel
          #rePassword="ngModel"
          appPasswordsValidator="password"
          required
        />
        <ng-container *ngIf="rePassword.touched">
          <p *ngIf="rePassword.errors?.['required']" class="error">
            Repeat password is required!
          </p>
          <p
            *ngIf="rePassword.errors?.['mismatch'] && !rePassword.errors?.['required']"
            class="error"
          >
            Passwords don't match!
          </p>
        </ng-container>
      </div>
      <button *ngIf="!isLoading" class="sign-in-btn" type="submit">
        <span>Sign up</span>
        <mat-icon>login</mat-icon>
      </button>
      <mat-spinner [diameter]="50" *ngIf="isLoading"></mat-spinner>
    </form>
  </div>
</section>
