<section class="review-list">
  <h1 class="no-reviews" *ngIf="reviews.length == 0">No Reviews...</h1>
  <div class="container" [ngClass]="{ start: reviews.length < 3 }">
    <article class="review" *ngFor="let review of reviews">
      <div class="review-header">
        <div class="user-rating">
          <h1>{{ review.user.username }}</h1>
          <div class="stars">
            <mat-icon *ngFor="let rate of rates; let i = index"
              >star{{ i < review.rating ? "" : "_border" }}</mat-icon
            >
          </div>
        </div>
        <div class="line"></div>
      </div>
      <p>{{ review.content }}</p>
    </article>
  </div>
</section>
