<section class="login">
  <article class="header-container">
    <h1>Agency Sign In</h1>
    <p>
      Your Agency don't have account yet?
      <a routerLink="/agency/register">Sign Up</a>
    </p>
  </article>
  <div class="form-container">
    <form #loginForm="ngForm" (ngSubmit)="handleAgencyLogin(loginForm)">
      <div class="email">
        <input
          [ngClass]="{ 'input-error': email.touched && email.errors?.['required'] }"
          type="text"
          name="email"
          placeholder="Email"
          ngModel
          #email="ngModel"
          required
        />
        <ng-container *ngIf="email.touched">
          <p *ngIf="email.errors?.['required']" class="error">
            Email is required!
          </p>
        </ng-container>
      </div>
      <div class="password">
        <input
          [ngClass]="{ 'input-error': password.touched && password.errors?.['required']}"
          type="password"
          name="password"
          placeholder="Password"
          ngModel
          #password="ngModel"
          required
        />
        <ng-container *ngIf="password.touched">
          <p *ngIf="password.errors?.['required']" class="error">
            Password is required!
          </p>
        </ng-container>
      </div>
      <button class="sign-in-btn" type="submit">
        <span>Sign in</span>
        <mat-icon>login</mat-icon>
      </button>
    </form>
  </div>
</section>
