.wrapper {
  padding-top: 5%;
  padding-bottom: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  border-radius: 25px;
  padding: 3%;
}

.offer {
  width: 50%;
  height: 100%;
}

.carousel {
  height: 100%;
  width: 100%;
}

.carousel-form-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 3%;
  height: 40vh;
}

.destination {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  max-width: 50%;
}

.form-date {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.cost {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pay-btn {
  background-color: #0d47a1;
  padding: 6px 18px;
  border: 3px solid #0d47a1;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 3px;
  transition: all 0.3s ease;
}

.pay-btn:hover {
  background-color: #fff;
  color: #0d47a1;
}

.pay-btn span {
  font-size: 18px;
  font-weight: 600;
}

.pay-btn mat-icon {
  width: 25px;
  height: 25px;
  font-size: 26px;
}

mat-error {
  margin-left: 5%;
}

app-offer-images-carousel {
  width: 100%;
  height: 100%;
}
