<section class="footer">
  <article class="social">
    <h5>Social Networks</h5>
    <div class="networks">
      <a href="https://github.com/pavlinevtimov1998"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a href="https://www.facebook.com/pavlin.evtimov"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <a href="https://www.instagram.com/pavlinevtimov"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </div>
  </article>
  <article class="countries">
    <h5>Top Countries</h5>
    <ul>
      <li>
        <a href="">Spain</a>
      </li>
      <li>
        <a href="">France</a>
      </li>
      <li>
        <a href="">Italy</a>
      </li>
      <li>
        <a href="">Turkey</a>
      </li>
      <li>
        <a href="">Greece</a>
      </li>
    </ul>
  </article>
  <article class="platform">
    <ul>
      <li>
        <a href="">About Us</a>
      </li>
      <li>
        <a href="">Top Agensies</a>
      </li>
    </ul>
  </article>
  <article class="btns-container">
    <a class="sign-up btn" href="">
      <span>Sign Up</span>
      <mat-icon>login</mat-icon>
    </a>
    <a class="categories btn" href="">Categories</a>
  </article>
</section>
