.footer {
  min-height: 200px;
  padding-block: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 1600px;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.networks {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.networks a {
  font-size: 28px;
  color: #3f51b5;
  transition: all 0.3s ease;
}

.networks a:hover {
  color: #fff;
}

.top-countries ul,
.platform ul {
  display: flex;
  flex-direction: column;
  font-style: italic;
  font-size: 14px;
  font-weight: 900;
  margin-top: 5px;
}

.platform ul {
  font-size: 16px;
}

.top-countries ul a,
.platform ul a {
  transition: all 0.3s ease;
  color: #3f51b5;
}

.top-countries ul a:hover,
.platform ul a:hover {
  color: #fff;
}

.btns-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  background-color: #3f51b5;
  padding: 8px 18px;
  border: 2px solid #3f51b5;
  border-radius: 10px;
  transition: all 0.3s ease;
  display: flex;
  gap: 2px;
  justify-content: center;
}

.btn:hover {
  background-color: #fff;
  color: #3f51b5;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media screen and (max-width: 700px) {
  .footer {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 30px;
  }

  .btns-container,
  .top-countries,
  .social,
  .platform {
    width: 100%;
  }

  .btn {
    width: 60%;
    align-self: center;
  }

  .top-countries ul,
  .platform ul {
    align-items: center;
  }

  .top-countries h5 {
    text-align: center;
  }

  .networks {
    justify-content: center;
    gap: 10px;
  }
}
