<section class="footer">
  <article class="social">
    <h5>Social Networks</h5>
    <div class="networks">
      <a href="https://github.com/pavlinevtimov1998"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a href="https://www.facebook.com/pavlin.evtimov"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <a href="https://www.instagram.com/pavlinevtimov"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </div>
  </article>
  <article class="top-countries">
    <h5>Top Countries</h5>
    <ul>
      <li>
        <a routerLink="/offers/countries/spain">Spain</a>
      </li>
      <li>
        <a routerLink="/offers/countries/france">France</a>
      </li>
      <li>
        <a routerLink="/offers/countries/italy">Italy</a>
      </li>
      <li>
        <a routerLink="/offers/countries/turkey">Turkey</a>
      </li>
      <li>
        <a routerLink="/offers/countries/greece">Greece</a>
      </li>
    </ul>
  </article>
  <article class="platform">
    <ul>
      <li>
        <a routerLink="/about-us">About Us</a>
      </li>
      <li>
        <a routerLink="/agencies/top">Top Agensies</a>
      </li>
    </ul>
  </article>
  <article class="btns-container">
    <a class="sign-up btn" routerLink="/auth/register">
      <span>Sign Up</span>
      <mat-icon>login</mat-icon>
    </a>
    <a class="categories btn" routerLink="/offers/countries">Countries</a>
  </article>
</section>
