<section class="footer">
  <article class="social">
    <h5>Social Networks</h5>
    <div class="networks">
      <a href="https://github.com/pavlinevtimov1998"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a href="https://www.facebook.com/pavlin.evtimov"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <a href="https://www.linkedin.com/in/pavlin-evtimov-568a0122b/"
        ><i class="fab fa-linkedin"></i
      ></a>
    </div>
  </article>
  <article class="top-countries">
    <h5>Top Countries</h5>
    <ul>
      <li>
        <a routerLink="/countries/6379e31cac559a805696342d">Bulgaria</a>
      </li>
      <li>
        <a routerLink="/countries/63722dd7bb32f901346fd4ad">Spain</a>
      </li>
      <li>
        <a routerLink="/countries/6372359c40b9485b69897803">France</a>
      </li>

      <li>
        <a routerLink="/countries/6379dc18ac559a8056963428">Turkey</a>
      </li>
      <li>
        <a routerLink="/countries/63737c59db5822ea9ef334e8">Greece</a>
      </li>
    </ul>
  </article>
  <article class="platform">
    <ul>
      <li>
        <a routerLink="/about-us">About Us</a>
      </li>
      <li>
        <a routerLink="/top-agencies">Top Agensies</a>
      </li>
    </ul>
  </article>
  <article class="btns-container">
    <a class="sign-up btn" routerLink="/user/register">
      <span>Sign Up</span>
      <mat-icon>login</mat-icon>
    </a>
    <a class="categories btn" routerLink="/countries"
      ><span>All Countries</span>
      <mat-icon>map</mat-icon>
    </a>
  </article>
</section>
