@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
@import "./assets/styles/authPages.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  list-style: none;
}

html,
body {
  height: 100%;
  color: #3f51b5;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: #fff;
}

::-webkit-resizer {
  display: none;
}

a {
  color: white;
}

input:focus,
textarea:focus {
  border: none;
  outline: none;
  outline-style: none;
  outline: 0;
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

#header {
  height: 100px;
  background-color: #3f51b5;
}

#content {
  min-height: 80vh;
}

#footer {
  margin-top: 60px;
}
