@import "@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fff;
}

button {
  margin: 0;
  padding: 0;
  border: unset;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

#header {
  height: 100px;
  background-color: #3f51b5;
}
