@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
@import "./assets/styles/authPages.css";
@import "./assets/styles/countries.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  list-style: none;
}

html,
body {
  height: 100%;
  color: #0d47a1;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: #e5e5e5;
}

::-webkit-resizer {
  display: none;
}

a {
  color: #fafafa;
}

input:focus,
textarea:focus {
  border: 1px solid #0d47a1;
  outline: none;
  outline-style: none;
  outline: 0;
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

#header {
  height: 100px;
  background-color: #0d47a1;
  box-shadow: 5px -3px 15px 5px rgb(0 0 0 / 50%);
}

#content {
  min-height: 90vh;
}

/* #footer {
} */
