<section class="countries">
  <article class="title-container">
    <h1>Popular Countries</h1>
    <p>Click to view vacation offers in every country!</p>
  </article>
  <article class="countries-container">
    <a class="country" href="">
      <img src="/assets/img/iphone1.jpg" alt="" />
      <h3>Spain</h3>
    </a>
    <a class="country" href="">
      <img src="/assets/img/iphone1.jpg" alt="" />
      <h3>Spain</h3>
    </a>
    <a class="country" href="">
      <img src="/assets/img/iphone1.jpg" alt="" />
      <h3>Spain</h3>
    </a>
    <a class="country" href="">
      <img src="/assets/img/iphone1.jpg" alt="" />
      <h3>Spain</h3>
    </a>
    <a class="country" href="">
      <img src="/assets/img/iphone1.jpg" alt="" />
      <h3>Spain</h3>
    </a>
    <a class="country" href="">
      <img src="/assets/img/iphone1.jpg" alt="" />
      <h3>Spain</h3>
    </a>
  </article>
</section>
