<section class="countries">
  <article class="title-container">
    <h1>Most Popular Countries</h1>
    <p>Click to view vacation offers!</p>
  </article>
  <article class="countries-container">
    <a class="country" href="">
      <img src="/assets/img/vacation.jpg" alt="" />
      <h1>Spain</h1>
    </a>
    <a class="country" href="">
      <img src="/assets/img/vacation.jpg" alt="" />
      <h1>Spain</h1>
    </a>
    <a class="country" href="">
      <img src="/assets/img/vacation.jpg" alt="" />
      <h1>Spain</h1>
    </a>
  </article>
</section>
