<section class="login">
  <article class="header-container">
    <h1>Sign in</h1>
    <p>
      You don't have account yet? <a routerLink="/auth/register">Register</a>
    </p>
  </article>
  <div class="forms-container">
    <div class="options">
      <button
        #user
        class="opt-btn selected"
        (click)="handleOptionBtn(user, agency, email, username)"
      >
        <span>User Sign in</span>
        <mat-icon>user</mat-icon>
      </button>
      <button
        #agency
        class="opt-btn"
        (click)="handleOptionBtn(agency, user, username, email)"
      >
        <span>Agency Sign in</span>
        <mat-icon>login</mat-icon>
      </button>
    </div>
    <div class="form">
      <div #username class="user-form">
        <app-user-login></app-user-login>
      </div>
      <div #email class="agency-form">
        <app-agency-login></app-agency-login>
      </div>
    </div>
  </div>
</section>
