<section class="countries">
  <article class="title-container">
    <h1>Popular Countries</h1>
    <p>Click to view vacation offers!</p>
  </article>
  <article class="countries-container">
    <a class="country" href="">
      <img
        src="https://res.cloudinary.com/dlw7pmlvx/image/upload/v1668461400/spain_vuznoh.jpg"
        alt=""
      />
      <h1>Spain</h1>
    </a>
    <a class="country" href="">
      <img
        src="https://res.cloudinary.com/dlw7pmlvx/image/upload/v1668461422/france_fum18o.jpg"
        alt=""
      />
      <h1>Spain</h1>
    </a>
    <a class="country" href="">
      <img
        src="https://res.cloudinary.com/dlw7pmlvx/image/upload/v1668461413/greece_gmgi32.jpg"
        alt=""
      />
      <h1>Spain</h1>
    </a>
  </article>
</section>
