<section class="login">
  <article class="header-container">
    <h1>Sign in</h1>
    <p>
      You don't have account yet?
      <a routerLink="/user/register">Sign Up</a>
    </p>
    <p class="agency-sign-up">
      If you are Agency and you want to grow exponentialy
      <a routerLink="/agency/register">Sign Up</a>
    </p>
  </article>
  <div class="form-container">
    <form #loginForm="ngForm" (ngSubmit)="handleUserLogin(loginForm)">
      <div class="username">
        <input
          [ngClass]="{ 'input-error': username.touched && username.errors }"
          type="text"
          name="username"
          placeholder="Username"
          ngModel
          #username="ngModel"
          required
        />
        <ng-container *ngIf="username.touched">
          <p *ngIf="username.errors?.['required']" class="error">
            Username is required!
          </p>
        </ng-container>
      </div>
      <div class="password">
        <input
          [ngClass]="{ 'input-error': password.touched && password.errors }"
          type="password"
          name="password"
          placeholder="Passwrod"
          ngModel
          #password="ngModel"
          required
        />
        <ng-container *ngIf="password.touched">
          <p *ngIf="password.errors?.['required']" class="error">
            Password is required!
          </p>
        </ng-container>
      </div>
      <button class="sign-in-btn" type="submit">
        <span>Sign in</span>
        <mat-icon>login</mat-icon>
      </button>
    </form>
  </div>
</section>
