<section class="wrapper">
  <div class="container">
    <article class="header">
      <h1>All Countries</h1>
      <form>
        <input
          type="search"
          name="search"
          placeholder="Search country"
        />
        <button>
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </article>
    <article class="countries-container">
      <a class="country" href="">
        <img src="/assets/img/vacation.jpg" alt="" />
        <h1>Spain</h1>
      </a>
      <a class="country" href="">
        <img src="/assets/img/iphone1.jpg" alt="" />
        <h1>Spain</h1>
      </a>
      <a class="country" href="">
        <img src="/assets/img/iphone1.jpg" alt="" />
        <h1>Spain</h1>
      </a>
      <a class="country" href="">
        <img src="/assets/img/iphone1.jpg" alt="" />
        <h1>Spain</h1>
      </a>
      <a class="country" href="">
        <img src="/assets/img/iphone1.jpg" alt="" />
        <h1>Spain</h1>
      </a>
      <a class="country" href="">
        <img src="/assets/img/iphone1.jpg" alt="" />
        <h1>Spain</h1>
      </a>
    </article>
  </div>
</section>
