<div class="actions-container" (click)="toggleDropDownMenu()">
  <img
    src="/assets/img/default-user.png"
    alt=""
    appClickOutside
    (clickOutside)="clickedOutside()"
  />
  <div class="actions" *ngIf="isMenuOpened">
    <p>
      Hello, <span>{{ (currentUser$ | async)?.agencyName }}</span>
    </p>
    <ul class="profile-links">
      <li>
        <a routerLink="/auth/profile">Profile</a>
      </li>
      <li>
        <a routerLink="/auth/profile/edit">Edit Profile</a>
      </li>
      <li>
        <a href="javascript:void(0)">Logout</a>
      </li>
    </ul>
  </div>
</div>
