<div class="actions-container" (click)="toggleDropDownMenu()">
  <img
    src="/assets/img/default-user.png"
    alt=""
    appClickOutside
    (clickOutside)="clickedOutside()"
  />
  <div class="actions" *ngIf="isMenuOpened">
    <p *ngIf="(currentUser$ | async)?.isAgency">
      Hello, <span>{{ (currentUser$ | async)?.agencyName }}</span>
    </p>
    <p *ngIf="!(currentUser$ | async)?.isAgency">
      Hello, <span>{{ (currentUser$ | async)?.username }}</span>
    </p>
    <ul class="profile-links">
      <li>
        <a [routerLink]="['/auth/profile', (currentUser$ | async)?._id]"
          >Profile</a
        >
      </li>
      <li>
        <a routerLink="/auth/profile/edit">Edit Profile</a>
      </li>
      <li>
        <a class="logout" href="javascript:void(0)" (click)="logoutHandler()"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</div>
