.actions-container {
  position: relative;
  width: 60px;
  border-radius: 50%;
  height: 60px;
}

.actions-container img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.actions-container img:hover {
  cursor: pointer;
}

.actions {
  /* display: none; */
  position: absolute;
  top: 65px;
  right: 0;
  background-color: #3f51b5;
  border-radius: 8px;
  width: 165px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.actions p {
  padding-block: 5px;
  padding-left: 12px;
  background-color: #fff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.profile-links {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.profile-links li {
  padding-left: 12px;
  padding-block: 6px;
}
