<div class="actions-container" (click)="toggleDropDownMenu()">
  <img
    src="/assets/img/default-user.png"
    alt=""
    appClickOutside
    (clickOutside)="clickedOutside()"
  />
  <div class="actions" *ngIf="isMenuOpened">
    <p *ngIf="(currentUser$ | async)?.isAgency">
      Hello, <span class="name">{{ (currentUser$ | async)?.agencyName }}</span>
    </p>
    <p *ngIf="!(currentUser$ | async)?.isAgency">
      Hello, <span class="name">{{ (currentUser$ | async)?.username }}</span>
    </p>
    <ul class="profile-links">
      <ng-container *ngIf="(currentUser$ | async)?.isAgency">
        <li>
          <a [routerLink]="['/agency/profile', (currentUser$ | async)?._id]"
            >Profile</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/agency/edit/profile', (currentUser$ | async)?._id]"
            >Edit Profile</a
          >
        </li>
      </ng-container>
      <ng-container *ngIf="!(currentUser$ | async)?.isAgency">
        <li>
          <a routerLink="/user/profile">Profile</a>
        </li>
        <li>
          <a routerLink="/user/edit/profile">Edit Profile</a>
        </li>
      </ng-container>

      <li>
        <a class="logout" href="javascript:void(0)" (click)="logoutHandler()"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</div>
