.carousel {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

.smaller {
  height: 100%;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

.arrow-left,
.arrow-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  bottom: 0;
  top: 0;
  background: 0 0;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.arrow-left mat-icon,
.arrow-right mat-icon {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.arrow-left {
  left: 0px;
  border-top-left-radius: inherit;
  background: linear-gradient(
    to right,
    rgb(0 11 255 / 30%) 0%,
    rgb(12 0 255 / 20%) 20%,
    rgb(232 231 241 / 0%) 100%
  );
}

.arrow-right {
  right: 0px;
  border-top-right-radius: inherit;
  background: linear-gradient(
    to left,
    rgb(0 11 255 / 30%) 0%,
    rgb(12 0 255 / 20%) 20%,
    rgb(232 231 241 / 0%) 100%
  );
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

.img-container {
  display: none;
  position: relative;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

.img-container.image-active {
  display: block;
  width: 100%;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
