<section class="popular">
  <article class="title-container">
    <h1 class="title">Popular Destinations</h1>
    <p class="text">Click on each for more details!</p>
  </article>
  <article class="carousel">
    <ng-container *ngFor="let image of currentImages">
      <div class="image-active">
        <img [src]="image.imageUrl" [alt]="image.alt" class="fade" />
      </div>
    </ng-container>

    <button class="arrow-left" (click)="leftArrowHandler()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <button class="arrow-right" (click)="rightArrowHandler()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </article>
</section>
