<section class="popular">
  <article class="title-container">
    <h1 class="title">Popular Destinations</h1>
    <p class="text">Click on each for more details!</p>
  </article>
  <article class="carousel">
    <ng-container *ngFor="let destination of topDestinations; let i = index">
      <div class="img-container" [ngClass]="{ 'image-active': selectedIndex == i }">
        <img
          [src]="destination.images[0]"
          [alt]="destination.title"
          class="fade"
        />
      </div>
    </ng-container>

    <button class="arrow-left" (click)="leftArrowHandler()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <button class="arrow-right" (click)="rightArrowHandler()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </article>
</section>
