<div class="wrapper" *ngIf="!isLoading">
  <section class="carousel">
    <ng-container *ngFor="let image of offer.images; let i = index">
      <div
        class="img-container"
        [ngClass]="{ 'image-active': selectedIndex == i }"
      >
        <img [src]="image" [alt]="offer.title" class="fade" />
      </div>
    </ng-container>

    <button class="arrow-left" (click)="leftArrowHandler()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <button class="arrow-right" (click)="rightArrowHandler()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </section>
  <section class="offer-data">
    <div class="info-container">
      <div class="info-left">
        <div class="title">
          <h1>{{ offer.title }}</h1>
          <h4 class="location">
            <mat-icon>location_on</mat-icon
            ><span>{{ offer.town }}, {{ offer.country.name }}</span>
          </h4>
        </div>
        <div class="info">
          <div class="subtitle">
            <h3>Tranquil Mediterranean sanctuary.</h3>
            <div
              class="actions"
              *ngIf="(isLogged$ | async) && !currentUser?.isAgency"
            >
              <button
                class="rate"
                mat-icon-button
                title="Rate this offer"
                type="button"
              >
                <mat-icon>rate_review</mat-icon>
              </button>
              <button
                class="favorites"
                title="Add to favorites"
                mat-icon-button
                type="button"
              >
                <mat-icon>favorite_border</mat-icon>
              </button>
            </div>
          </div>
          <div></div>
          <div class="description">
            <p>{{ offer.description }}</p>
          </div>
          <div class="booking">
            <h1>Price: {{ offer.price }}$</h1>
            <a
              class="book-btn"
              routerLink="/"
              *ngIf="(isLogged$ | async) && !currentUser?.isAgency"
            >
              <span>Book</span>
              <mat-icon>airplane_ticket</mat-icon>
            </a>
          </div>
        </div>
      </div>
      <div class="features">
        <div class="features-title">
          <h1>Features</h1>
        </div>
        <ul class="feature-list">
          <ng-container *ngIf="offer.features.length > 0">
            <li *ngFor="let feature of offer.features">{{ feature }}</li>
          </ng-container>
          <li *ngIf="offer.features.length == 0">No Features added...</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="more-offers">
    <article class="more-offers-title">
      <h1>You May Also Be Interest In</h1>
    </article>
    <article class="similar-offers">
      <ng-container *ngFor="let offer of similarOffers()">
        <app-offer-item [offer]="offer"></app-offer-item>
      </ng-container>
      <h1 *ngIf="similarOffers().length == 0">No similar offers...</h1>
    </article>
  </section>
</div>
