.wrapper {
  padding-top: 5%;
  max-width: 1600px;
  width: 100%;
  margin: auto;
}

.container {
  width: 90%;
  text-align: center;
  margin: auto;
}

.title h1 {
  font-size: 2rem;
  font-weight: 800;
}

.liked-offers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3%;
  min-height: 60vh;
}

app-offer-item {
  width: 31%;
  height: 40vw;
  max-height: 500px;
  margin-top: 25px;
}
.pagination-spinner-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.no-offers a {
  color: #0d47a1;
}

.no-offers a:hover {
  text-decoration: underline;
}
