<section class="wrapper" *ngIf="!(isLoading$ | async)">
  <div class="container">
    <article class="header">
      <h1>Top Agencies</h1>
    </article>

    <div class="agencies-container">
      <ng-container *ngFor="let agency of agencies">
        <a class="agency-info" [routerLink]="['/agency/profile', agency._id]">
          <div class="img-container">
            <img
              class="img"
              [src]="
                agency.image ||
                'https://res.cloudinary.com/dlw7pmlvx/image/upload/v1668376214/cld-sample.jpg'
              "
              [alt]="agency.agencyName"
            />
          </div>
          <div class="info">
            <div class="title">
              <h1>{{ agency.agencyName }}</h1>
            </div>
            <div class="contacts">
              <p>
                Email: <span>{{ agency.email }}</span>
              </p>
              <p>
                Phone: <span>{{ agency.phone || "Not added..." }}</span>
              </p>
            </div>
            <p class="description">
              Company description: {{ agency.description || "Not added..." }}
            </p>
          </div>
        </a>
      </ng-container>
    </div>
  </div>
</section>
