<form class="agency">
  <div class="email">
    <label for="email">Agency email</label>
    <input type="text" name="email" />
  </div>
  <div class="agency-name">
    <label for="agencyName">Agency name</label>
    <input type="text" name="agencyName" />
  </div>
  <div class="password">
    <label for="password">Password</label>
    <input type="password" name="password" />
  </div>
  <div class="re-pass">
    <label for="rePassword">Repeat password</label>
    <input type="password" name="rePassword" />
  </div>
  <button class="sign-in-btn" type="submit">
    <span>Sign up</span>
    <mat-icon>login</mat-icon>
  </button>
</form>
