<section class="register">
  <article class="header-container">
    <h1>Sign up</h1>
    <p>
      Your Agency already have account?
      <a routerLink="/auth/agency/login">Sign In</a>
    </p>
  </article>
  <div class="form-container">
    <form
      #registerForm="ngForm"
      (ngSubmit)="handleAgencyRegister(registerForm)"
    >
      <div class="email">
        <input
          [ngClass]="{ 'input-error': email.touched && email.errors }"
          type="text"
          name="email"
          placeholder="Email"
          ngModel
          #email="ngModel"
          required
          email
        />
        <ng-container *ngIf="email.touched">
          <p *ngIf="email.errors?.['required']" class="error">
            Email is required!
          </p>
          <p *ngIf="email.errors?.['email']" class="error">Invalid email!</p>
        </ng-container>
      </div>
      <div class="agency-name">
        <input
          [ngClass]="{
            'input-error': agencyName.touched && agencyName.errors
          }"
          type="text"
          name="agencyName"
          placeholder="Agency name"
          ngModel
          #agencyName="ngModel"
          required
          minlength="4"
        />
        <ng-container *ngIf="agencyName.touched">
          <p *ngIf="agencyName.errors?.['required']" class="error">
            Agency name is required!
          </p>
          <p *ngIf="agencyName.errors?.['minlength']" class="error">
            Agency name should be at least 4 characters!
          </p>
        </ng-container>
      </div>
      <ng-container>
        <div class="password">
          <input
            [ngClass]="{
              'input-error': password.touched && password.errors
            }"
            type="password"
            name="password"
            placeholder="Password"
            ngModel
            #password="ngModel"
            required
            minlength="6"
            appPasswordsValidator="rePassword"
            reverse="true"
          />
          <ng-container *ngIf="password.touched">
            <p *ngIf="password.errors?.['required']" class="error">
              Password is required!
            </p>
            <p *ngIf="password.errors?.['minlength']" class="error">
              Password should be at least 6 characters!
            </p>
          </ng-container>
        </div>
        <div class="re-pass">
          <input
            [ngClass]="{
              'input-error': rePassword.touched && rePassword.errors
            }"
            type="password"
            name="rePassword"
            placeholder="Repeat password"
            ngModel
            #rePassword="ngModel"
            required
            appPasswordsValidator="password"
          />
          <ng-container *ngIf="rePassword.touched">
            <p
              *ngIf="rePassword.errors?.['required'] && !rePassword.errors?.['mismatch']"
              class="error"
            >
              Repeat password is required!
            </p>
            <p *ngIf="rePassword.errors?.['mismatch']" class="error">
              Passwords don't match!
            </p>
          </ng-container>
        </div>
      </ng-container>
      <button class="sign-in-btn" type="submit">
        <span>Sign up</span>
        <mat-icon>login</mat-icon>
      </button>
    </form>
  </div>
</section>
