<form class="form" [formGroup]="bookingForm" (ngSubmit)="formHandler()">
  <div class="date-container">
    <div class="dates" [formGroup]="datesGroup">
      <mat-form-field appearance="fill">
        <mat-label>Start Date</mat-label>
        <input
          matInput
          formControlName="startDate"
          [min]="minDate"
          [matDatepicker]="picker"
          (dateInput)="dateChange()"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>End Date</mat-label>
        <input
          matInput
          (dateInput)="dateChange()"
          [min]="minDate"
          formControlName="endDate"
          [matDatepicker]="endPicker"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="endPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <ng-container *ngIf="datesGroup.touched && datesGroup.invalid">
      <p
        *ngIf="
          datesGroup.controls['startDate'].errors?.['required'] && datesGroup.controls['endDate'].errors?.['required']
        "
        class="error"
      >
        Dates are required
      </p>
      <p
        *ngIf="
          (datesGroup.controls['startDate'].errors?.['sameDayError'] || datesGroup.controls['endDate'].errors?.['sameDayError'])
         && !(datesGroup.controls['startDate'].errors?.['invalidDate'] || datesGroup.controls['endDate'].errors?.['invalidDate'])
        "
        class="error"
      >
        Your vacation cannot be lower than 2 days!
      </p>
      <p
        *ngIf="
          datesGroup.controls['startDate'].errors?.['invalidDate'] || datesGroup.controls['endDate'].errors?.['invalidDate']
        "
        class="error"
      >
        Invalid dates!
      </p>
    </ng-container>
  </div>
  <div class="card-holder flex">
    <label for="holder">Card Holder</label>
    <input
      [ngClass]="{
        'input-error':
          controls['cardHolder'].touched && controls['cardHolder'].errors
      }"
      formControlName="cardHolder"
      class="input"
      type="text"
      id="holder"
      name="cardHolder"
    />
    <ng-container *ngIf="controls['cardHolder'].touched">
      <p class="error" *ngIf="controls['cardHolder'].errors?.['required']">
        Card holder is required!
      </p>
    </ng-container>
  </div>
  <div class="card-number-container flex">
    <label for="number">Card Number</label>
    <div class="card-number">
      <i class="fa-brands fa-cc-visa"></i>
      <input
        [ngClass]="{
          'input-error':
            controls['cardNumber'].touched && controls['cardNumber'].errors
        }"
        formControlName="cardNumber"
        class="input"
        id="number"
        type="number"
        name="cardNumber"
      />
    </div>
    <ng-container *ngIf="controls['cardNumber'].touched">
      <p class="error" *ngIf="controls['cardNumber'].errors?.['required']">
        Card number is required!
      </p>
      <p
        class="error"
        *ngIf="controls['cardNumber'].errors?.['length'] && !controls['cardNumber'].errors?.['required']"
      >
        Card number should be 16 numbers!
      </p>
    </ng-container>
  </div>
  <div class="cvv-expiry">
    <div class="cvv-number flex">
      <label for="cvv">CVV Number</label>
      <input
        [ngClass]="{
          'input-error':
            controls['cvvNumber'].touched && controls['cvvNumber'].errors
        }"
        formControlName="cvvNumber"
        class="input"
        type="number"
        name="cvvNumber"
        id="cvv"
      />
      <ng-container *ngIf="controls['cvvNumber'].touched">
        <p class="error" *ngIf="controls['cvvNumber'].errors?.['required']">
          CVV number is required!
        </p>
        <p
          class="error"
          *ngIf="(controls['cvvNumber'].errors?.['length'] || controls['cvvNumber'].errors?.['length']) && !controls['cvvNumber'].errors?.['required']"
        >
          CVV number should be 3 numbers!
        </p>
      </ng-container>
    </div>
    <div class="expiry-date flex">
      <label for="expiry">Expiry Date</label>
      <div>
        <input
          [ngClass]="{
            'input-error':
              controls['expiryMonth'].touched && controls['expiryMonth'].errors
          }"
          formControlName="expiryMonth"
          class="input"
          type="number"
          name="expiryMonth"
          id="expiry-month"
        />
        <span>/</span>
        <input
          [ngClass]="{
            'input-error':
              controls['expiryYear'].touched && controls['expiryMonth'].errors
          }"
          formControlName="expiryYear"
          class="input"
          type="number"
          name="expiryYear"
          id="expiry-year"
        />
      </div>
      <ng-container
        *ngIf="
          controls['expiryMonth'].touched || controls['expiryYear'].touched
        "
      >
        <p
          class="error"
          *ngIf="controls['expiryMonth'].errors?.['required'] || controls['expiryYear'].errors?.['required']"
        >
          Expiry date is required!
        </p>
        <p
          class="error"
          *ngIf="controls['expiryMonth'].errors?.['max'] || controls['expiryMonth'].errors?.['min']"
        >
          Invalid expiry month!
        </p>
        <p
          class="error"
          *ngIf="controls['expiryYear'].errors?.['max'] || controls['expiryYear'].errors?.['min']"
        >
          Invalid expiry year!
        </p>
      </ng-container>
    </div>
  </div>

  <div class="cost">
    <h1 class="price">{{ price.toFixed(2) }}$</h1>
    <button *ngIf="!isSubmited" type="submit" class="pay-btn">
      <mat-icon>credit_card</mat-icon>
      <span>Book Now</span>
    </button>
    <mat-spinner [diameter]="50" *ngIf="isSubmited"></mat-spinner>
  </div>
</form>
