<section class="wraper">
  <app-search class="search-destination"></app-search>
  <div class="carousel-container">
    <ng-container *ngFor="let offer of carouselData; let i = index">
      <div
        class="img-container"
        [ngClass]="{ 'image-active': selectedIndex == i }"
      >
        <img [src]="offer.images[0]" [alt]="offer.title" class="fade" />
        <div class="agency">
          <a [routerLink]="['/agency/profile', offer.agency._id]">
            <img
              *ngIf="offer.agency.image"
              [src]="offer.agency.image"
              [alt]="offer.agency.agencyName"
            />
            <img
              *ngIf="!offer.agency.image"
              src="/assets/img/default-user.png"
              [alt]="offer.agency.agencyName"
            />
            <h3>{{ offer.agency.agencyName | substring : 25 }}</h3>
            <p>{{ offer.agency.offers.length }} Offers</p>
          </a>
        </div>
      </div>
    </ng-container>

    <div class="carousel-dot-container">
      <ng-container *ngFor="let dot of carouselData; let i = index">
        <span
          class="dot"
          [ngClass]="{ 'dot-active': selectedIndex == i }"
          (click)="onDotClick(i)"
        ></span>
      </ng-container>
    </div>

    <button class="arrow-left" (click)="leftArrowHandler()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <button class="arrow-right" (click)="rightArrowHandler()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</section>
