<form
  class="agency"
  [formGroup]="agencyRegisterForm"
  (submit)="handleAgencyRegister()"
>
  <div class="email">
    <label for="email">Agency email</label>
    <input
      [ngClass]="{ 'input-error': errHandler(agencyRegisterForm, 'email') }"
      formControlName="email"
      type="text"
      name="email"
    />
    <ng-container>
      <p
        *ngIf="agencyRegisterForm.controls['email'].errors?.['required'] && errHandler(agencyRegisterForm,'email')"
        class="error"
      >
        Email is required!
      </p>
      <p
        *ngIf="agencyRegisterForm.controls['email'].errors?.['minlength'] && errHandler(agencyRegisterForm,'email')"
        class="error"
      >
        Email should be at least 5 characters!
      </p>
      <p
        *ngIf="agencyRegisterForm.controls['email'].errors?.['maxlength'] && errHandler(agencyRegisterForm,'email')"
        class="error"
      >
        Email should be max 30 characters!
      </p>
    </ng-container>
  </div>
  <div class="agency-name">
    <label for="agencyName">Agency name</label>
    <input
      [ngClass]="{
        'input-error': errHandler(agencyRegisterForm, 'agencyName')
      }"
      formControlName="agencyName"
      type="text"
      name="agencyName"
    />
    <ng-container>
      <p
        *ngIf="agencyRegisterForm.controls['agencyName'].errors?.['required'] && errHandler(agencyRegisterForm,'agencyName')"
        class="error"
      >
        Agency name is required!
      </p>
      <p
        *ngIf="agencyRegisterForm.controls['agencyName'].errors?.['minlength'] && errHandler(agencyRegisterForm,'agencyName')"
        class="error"
      >
        Agency name should be at least 4 characters!
      </p>
      <p
        *ngIf="agencyRegisterForm.controls['agencyName'].errors?.['maxlength'] && errHandler(agencyRegisterForm, 'agencyName')"
        class="error"
      >
        Agency name should be max 25 characters!
      </p>
    </ng-container>
  </div>
  <ng-container [formGroup]="passwordsGroup">
    <div class="password">
      <label for="password">Password</label>
      <input
        [ngClass]="{ 'input-error': errHandler(passwordsGroup, 'password') }"
        formControlName="password"
        type="password"
        name="password"
      />
      <ng-container>
        <p
          *ngIf="passwordsGroup.controls['password'].errors?.['required'] && errHandler(passwordsGroup,'password')"
          class="error"
        >
          Password is required!
        </p>
        <p
          *ngIf="passwordsGroup.controls['password'].errors?.['minlength'] && errHandler(passwordsGroup,'password')"
          class="error"
        >
          Password should be at least 6 characters!
        </p>
      </ng-container>
    </div>
    <div class="re-pass">
      <label for="rePassword">Repeat password</label>
      <input
        [ngClass]="{ 'input-error': errHandler(passwordsGroup, 'rePassword') }"
        formControlName="rePassword"
        type="password"
        name="rePassword"
      />
      <ng-container [formGroup]="passwordsGroup">
        <p
          *ngIf="passwordsGroup.controls['rePassword'].errors?.['required'] && errHandler(passwordsGroup,'rePassword')"
          class="error"
        >
          Repeat password is required!
        </p>
        <p
          *ngIf="passwordsGroup.controls['rePassword'].errors?.['mismatch'] && errHandler(passwordsGroup,'rePassword')"
          class="error"
        >
          Passwords don't match!
        </p>
      </ng-container>
    </div>
  </ng-container>
  <button class="sign-in-btn" type="submit">
    <span>Sign up</span>
    <mat-icon>login</mat-icon>
  </button>
</form>
