<section class="wrapper" *ngIf="!isLoading">
  <article class="header">
    <h1>Offers Catalog</h1>
    <form [formGroup]="searchGroup" (ngSubmit)="searchHandler(pagination)">
      <input
        formControlName="search"
        type="search"
        name="search"
        placeholder="Search Offers"
      />
      <button type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </article>
  <div class="pagination-spinner-container" *ngIf="paginationLoading">
    <mat-spinner></mat-spinner>
  </div>
  <article
    class="offers-container"
    [ngClass]="{ 'no-offers': offers.length == 0 }"
    *ngIf="!paginationLoading"
  >
    <h1 *ngIf="offers.length == 0">No Results...</h1>
    <ng-container *ngFor="let offer of offers">
      <app-offer-item [offer]="offer"></app-offer-item>
    </ng-container>
  </article>
  <app-pagination
    #pagination
    (sendCurrentPage)="setCurrentPage($event)"
    [pages]="pages"
  ></app-pagination>
</section>
