.wrapper {
  padding-top: 5%;
  padding-bottom: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.header h1 {
  font-size: 28px;
}

.header form {
  display: flex;
  width: 30%;
  align-items: center;
  height: 55px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.header form input {
  border: none;
  height: 100%;
  width: 80%;
  border-radius: 10px 0 0 10px;
  padding: 15px;
}

.header form button {
  height: 100%;
  width: 20%;
  background-color: #3f51b5;
  border-radius: 0 10px 10px 0;
}

.offers-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block: 5%;
  width: 90%;
}

app-offer-item {
  width: 30%;
  height: 28vw;
  padding-bottom: 4%;
}

@media screen and (min-width: 1600px) {
  app-offer-item {
    height: 450px;
  }
}

@media screen and (max-width: 1000px) {
  app-offer-item {
    width: 45%;
  }
}

@media screen and (max-width: 700px) {
  app-offer-item {
    width: 90%;
    padding-bottom: 7%;
  }

  .offers-container {
    justify-content: space-around;
  }
}

@media screen and (max-width: 500px) {
  app-offer-item {
    width: 100%;
  }
}
