<section class="wrapper">
  <div class="container">
    <article class="header">
      <h1>All Countries</h1>
      <form>
        <input type="search" name="search" placeholder="Search country" />
        <button>
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </article>
    <article class="countries-container">
      <ng-container *ngFor="let country of countries">
        <a class="country" [routerLink]="['/countries', country._id]">
          <img [src]="country.image" [alt]="country.country" />
          <h1>{{ country.country }}</h1>
        </a>
      </ng-container>
    </article>
  </div>
</section>
