<section class="wrapper">
  <div class="container">
    <article class="header">
      <h1>Top Agencies</h1>
    </article>
    <div class="agencies-container">
      <a class="agency-info" routerLink="/">
        <img class="img" src="/assets/img/vacation.jpg" alt="" />
        <div class="info">
          <div class="title">
            <h1>Top Agency</h1>

            <p>Rating: 6</p>
          </div>
          <div class="contacts">
            <p>Email: asdasd@asd.asd</p>
            <p>Phone: 09781688</p>
          </div>
          <p class="description">
            Company description: ajsodlanlckjbqkusodqjsljhvqksdljhsbaljd
          </p>
        </div>
      </a>
      <a class="agency-info" routerLink="/">
        <img class="img" src="/assets/img/vacation.jpg" alt="" />
        <div class="info">
          <div class="title">
            <h1>Top Agency</h1>

            <p>Rating: 6</p>
          </div>
          <div class="contacts">
            <p>Email: asdasd@asd.asd</p>
            <p>Phone: 09781688</p>
          </div>
          <p class="description">
            Company description: ajsodlanlckjbqkusodqjsljhvqksdljhsbaljd
          </p>
        </div>
      </a>
      <a class="agency-info" routerLink="/">
        <img class="img" src="/assets/img/vacation.jpg" alt="" />
        <div class="info">
          <div class="title">
            <h1>Top Agency</h1>

            <p>Rating: 6</p>
          </div>
          <div class="contacts">
            <p>Email: asdasd@asd.asd</p>
            <p>Phone: 09781688</p>
          </div>
          <p class="description">
            Company description: ajsodlanlckjbqkusodqjsljhvqksdljhsbaljd
          </p>
        </div>
      </a>
    </div>
  </div>
</section>
