<app-spinner *ngIf="isLoading"></app-spinner>
<div class="wrapper" *ngIf="!isLoading">
  <div class="carousel-container">
    <app-offer-images-carousel [offer]="offer"></app-offer-images-carousel>
  </div>
  <section class="offer-data">
    <div class="info-container">
      <div class="info-left">
        <div class="title">
          <h1>{{ offer.title }}</h1>
          <h4 class="location">
            <mat-icon>location_on</mat-icon
            ><span>{{ offer.town }}, {{ offer.country.name }}</span>
          </h4>
        </div>
        <div class="info">
          <div class="subtitle">
            <h3>From: {{ agencyName }}</h3>
            <app-user-action-btns
              *ngIf="(isLogged$ | async) && !currentUser?.isAgency"
              (addedReview)="addedReviewHandler($event)"
              [offerId]="offer._id"
            >
            </app-user-action-btns>
            <app-edit-delete-btns
              *ngIf="
                (isLogged$ | async) &&
                currentUser?.isAgency &&
                currentUser?._id == offer.agency._id
              "
              [offerId]="offer._id"
              (loading)="loadingHandler()"
            ></app-edit-delete-btns>
          </div>
          <div></div>
          <div class="description">
            <p>{{ offer.description }}</p>
          </div>
          <div class="booking">
            <h1>Price: {{ offer.price }}$</h1>
            <app-booking-btn
              [isBooked]="isBooked"
              *ngIf="(isLogged$ | async) && !currentUser?.isAgency"
              [offerId]="offer._id"
              (loading)="loadingHandler()"
              (canceledBooking)="cancelBooking()"
            ></app-booking-btn>
          </div>
        </div>
      </div>
      <div class="features">
        <div class="features-title">
          <h1>Features</h1>
        </div>
        <ul class="feature-list">
          <ng-container *ngIf="offer.features.length > 0">
            <li *ngFor="let feature of offer.features">{{ feature }}</li>
          </ng-container>
          <li *ngIf="offer.features.length == 0">No Features added...</li>
        </ul>
      </div>
    </div>
  </section>
  <app-offer-reviews [reviews]="offer.reviews"></app-offer-reviews>
  <section class="more-offers" *ngIf="!currentUser?.isAgency">
    <app-more-offers
      [moreOffersFromAgency]="moreOffersFromAgency()"
      [agencyName]="agencyName"
    ></app-more-offers>
  </section>
</div>
