<ul class="mobile-links">
  <ul>
    <ng-container *ngIf="isLogged$ | async">
      <li>
        <a href=""><span>Profile</span> <mat-icon>person</mat-icon></a>
      </li>
      <li>
        <a href=""
          ><span>Edit Profile</span>
          <mat-icon>edit</mat-icon>
        </a>
      </li>
    </ng-container>
    <li *ngIf="(currentUser$ | async)?.isAgency">
      <a href=""
        ><span>Add new offer</span>
        <mat-icon>create</mat-icon>
      </a>
    </li>
    <li *ngIf="!(isLogged$ | async)">
      <a routerLink="/auth/login">
        <span>Sign Up</span>
        <mat-icon>login</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="">
        <span>Categories</span>
        <mat-icon>dataset</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="">
        <span>Top Offers</span>
        <mat-icon>star</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="">
        <span>Top Agencies</span>
        <mat-icon>insert_chart</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="/about-us">
        <span>About Us</span>
        <mat-icon>support_agent</mat-icon>
      </a>
    </li>
    <li *ngIf="isLogged$">
      <a href="javascript:void(0)" (click)="logoutHandler()"
        ><span>Logout</span><mat-icon>logout</mat-icon></a
      >
    </li>
  </ul>
</ul>
