<ul class="mobile-links">
  <li>
    <a routerLink="/auth/login">
      <span>Sign Up</span>
      <mat-icon>login</mat-icon>
    </a>
  </li>
  <li>
    <a routerLink="">
      <span>Categories</span>
      <mat-icon>dataset</mat-icon>
    </a>
  </li>
  <li>
    <a routerLink="">
      <span>Top Offers</span>
      <mat-icon>star</mat-icon>
    </a>
  </li>
  <li>
    <a routerLink="">
      <span>Top Agencies</span>
      <mat-icon>insert_chart</mat-icon>
    </a>
  </li>
  <li>
    <a routerLink="/about-us">
      <span>About Us</span>
      <mat-icon>support_agent</mat-icon>
    </a>
  </li>
</ul>
