<div class="mobile-links">
  <ul>
    <li *ngIf="!(isLogged$ | async)">
      <a routerLink="/auth">
        <span>Sign Up</span>
        <mat-icon>login</mat-icon>
      </a>
    </li>
    <ng-container
      *ngIf="(isLogged$ | async) && !(currentUser$ | async)?.isAgency"
    >
      <li *ngIf="!(currentUser$ | async)?.isAgency">
        <a routerLink="/user/profile"
          ><span>Profile</span> <mat-icon>account_circle</mat-icon></a
        >
      </li>
      <li>
        <a routerLink="/user/favourites"
          ><span>Favourite Offers</span>
          <mat-icon>favorites</mat-icon>
        </a>
      </li>
    </ng-container>
    <ng-container *ngIf="(currentUser$ | async)?.isAgency">
      <li>
        <a [routerLink]="['/agency/profile', (currentUser$ | async)?._id]"
          ><span>Profile</span> <mat-icon>account_circle</mat-icon></a
        >
      </li>
      <li>
        <a routerLink="/agency/create-offer"
          ><span>Add New Offer</span>
          <mat-icon>create</mat-icon>
        </a>
      </li>
      <li>
        <a [routerLink]="['/agency/offers', (currentUser$ | async)?._id]"
          ><span>Added Offers</span>
          <mat-icon>attractions</mat-icon>
        </a>
      </li>
    </ng-container>
    <li>
      <a routerLink="/countries">
        <span>Countries</span>
        <mat-icon>map</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="/offers">
        <span>All Offers</span>
        <mat-icon>attractions</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="/top-agencies">
        <span>Top Agencies</span>
        <mat-icon>insert_chart</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="/about-us">
        <span>About Us</span>
        <mat-icon>support_agent</mat-icon>
      </a>
    </li>
    <li *ngIf="isLogged$ | async">
      <a href="javascript:void(0)" (click)="logoutHandler()"
        ><span>Logout</span><mat-icon>logout</mat-icon></a
      >
    </li>
  </ul>
</div>
