<section class="wrapper" *ngIf="!(isLoading$ | async)">
  <div class="form-container">
    <h1>Add Offer</h1>
    <form
      [formGroup]="createOfferForm"
      (submit)="handleCreateOffer(checkboxes)"
    >
      <div class="offer-title input-container">
        <div class="flex">
          <input
            formControlName="title"
            type="text"
            placeholder="Title of your Offer"
            name="title"
          />
          <ng-container *ngIf="errHandler(createOfferForm, 'title')">
            <p
              class="error"
              *ngIf="createOfferForm.controls['title'].errors?.['required']"
            >
              Title is required!
            </p>
          </ng-container>
        </div>
      </div>
      <div class="offer-description input-container">
        <div class="flex">
          <textarea
            formControlName="description"
            name="description"
            placeholder="Detail Description"
            cols="30"
            rows="10"
          ></textarea>
          <ng-container *ngIf="errHandler(createOfferForm, 'description')">
            <p
              class="error"
              *ngIf="createOfferForm.controls['description'].errors?.['required']"
            >
              Description is required!
            </p>
          </ng-container>
        </div>
      </div>
      <div class="offer-destination">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country">
              <mat-option
                *ngFor="let country of countries"
                [value]="country.name"
              >
                {{ country.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <input formControlName="town" type="text" placeholder="Town" />
          <ng-container *ngIf="errHandler(createOfferForm, 'town')">
            <p
              class="error"
              *ngIf="createOfferForm.controls['town'].errors?.['required']"
            >
              Town is required!
            </p>
          </ng-container>
        </div>
      </div>
      <div class="features" #checkboxes>
        <div class="checkbox" *ngFor="let feature of features">
          <input
            type="checkbox"
            [title]="feature.name"
            [value]="feature.name"
          />
          <label [for]="feature.name">{{ feature.name }}</label>
        </div>
      </div>

      <div class="offer-images input-container" (click)="imagesUpload.click()">
        <span>Click here to add one or multiple images for your offer!</span>
        <input
          #imagesUpload
          type="file"
          multiple
          accept="image/png, image/jpeg"
          (change)="onImageUpload($event)"
        />
      </div>
      <div class="offer-price input-container">
        <div class="flex">
          <input
            formControlName="price"
            type="number"
            name="price"
            placeholder="Price per person"
          />
          <ng-container *ngIf="errHandler(createOfferForm, 'price')">
            <p
              class="error"
              *ngIf="createOfferForm.controls['price'].errors?.['required']"
            >
              Price is required!
            </p>
          </ng-container>
        </div>
      </div>
      <button type="submit">Create</button>
    </form>
  </div>
</section>
