.wrapper {
  padding-block: 5%;
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

.country-details {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.country-image {
  width: 45%;
  height: 400px;
}

.country-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.country-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.country-info h1 {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 1px;
  font-style: italic;
}

.country-info p {
  margin-top: 3%;
  font-size: 1.7rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: italic;
  text-align: justify;
}

.country-offers {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 6%;
}

.offers-container-title {
  border-bottom: 3px solid;
  width: 90%;
  margin: auto;
}
.offers-container-title h1 {
  font-size: 2.2rem;
  letter-spacing: 0.6px;
  padding-left: 4%;
  padding-bottom: 1%;
}

.offers-container-title h1 span {
  font-weight: 900;
  font-style: italic;
}
.offers-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  padding-top: 1%;
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
  gap: 40px;
}

.no-offers {
  justify-content: center;
  min-height: 20vh;
}

.justify {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: unset;
}

app-offer-item {
  width: 30%;
  height: 32vw;
  max-height: 500px;
  margin-top: 3%;
}

.pagination-spinner {
  width: 100%;
  min-height: 48vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-results {
  text-align: center;
  font-style: italic;
  margin: 5% 0;
}

@media screen and (max-width: 1400px) {
  app-offer-item {
    width: 30%;
    height: 36vw;
  }
}

@media screen and (max-width: 1100px) {
  .country-details {
    width: 95%;
    justify-content: space-between;
  }

  .country-info p {
    font-size: 1.4rem;
  }

  app-offer-item {
    width: 32%;
    height: 40vw;
  }
}

@media screen and (max-width: 950px) {
  .country-details {
    width: 80%;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .country-image {
    width: 100%;
  }

  .country-info {
    width: 100%;
  }

  .offers-container {
    flex-direction: column;
    justify-content: center;
  }

  app-offer-item {
    width: 90%;
    height: 85vw;
  }
}
@media screen and (max-width: 700px) {
  .country-details {
    width: 90%;
  }

  app-offer-item {
    margin-block: 3%;
  }

  .flex-start {
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .offers-container {
    width: 95%;
  }

  app-offer-item {
    width: 100%;
    height: 90vw;
  }

  .country-image {
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  .country-info p {
    font-size: 0.8rem;
  }

  .country-info h1 {
    font-size: 1.4rem;
  }

  .country-image {
    height: 240px;
  }

  .offers-container-title h1 {
    font-size: 1.4rem;
  }

  .no-results {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 400px) {
  app-offer-item {
    width: 95%;
    height: 100vw;
  }
}
