<section class="wrapper" *ngIf="!(isLoading$ | async)">
  <div class="country-details">
    <article class="country-image">
      <img [src]="country.image" [alt]="country.name" />
    </article>
    <article class="country-info">
      <h1>{{ country.name }}</h1>
      <p>
        {{ country.info }}
      </p>
    </article>
  </div>
  <div class="country-offers">
    <div class="offers-container-title">
      <h1>
        All Offers in <span>{{ country.name }}</span>
      </h1>
    </div>
    <div class="pagination-spinner" *ngIf="paginationLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div
      class="offers-container"
      *ngIf="!paginationLoading"
      >
      <ng-container *ngFor="let offer of offers">
        <app-offer-item [offer]="offer"></app-offer-item>
      </ng-container>
    </div>
    <div class="pagination-container">
      <button class="previous" (click)="previousPage()">
        <mat-icon>arrow_back</mat-icon>
        <span>Previous</span>
      </button>
      <div class="rows">
        <button
        (click)="rowClickHandler(page)"
        class="row"
        *ngFor="let page of pages | paginationHelper"
        >
        <span>{{ page }}</span>
      </button>
    </div>
      <button class="previous" (click)="nextPage()">
        <span>Next</span>
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
</section>

<!-- [ngClass]="{ justify: offers.length > 3 }" -->