<div class="pagination-container">
  <button class="previous" (click)="previousPage()">
    <mat-icon>arrow_back</mat-icon>
    <span>Previous</span>
  </button>
  <div class="rows">
    <button
      (click)="rowClickHandler(page)"
      class="row"
      *ngFor="let page of pages | paginationHelper : currentPage"
      [ngClass]="{ 'selected-btn': currentPage == page }"
    >
      <span>{{ page }}</span>
    </button>
  </div>
  <ng-container *ngFor="let page of pages | paginationHelper : currentPage">
    <div class="page" *ngIf="currentPage == page">
      <span>{{ page }}</span> <span class="of-page">/</span>
      <span>{{ pages }}</span>
    </div>
  </ng-container>
  <button class="previous" (click)="nextPage()">
    <span>Next</span>
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>
