<div class="actions">
  <section
    #commentContainer
    class="comment-container"
    *ngIf="isOpenCommentContainer"
  >
    <app-comment
      (addedComment)="addedCommentHandler($event)"
      (close)="closeCommentContainer()"
      [offerId]="offer._id"
    ></app-comment>
  </section>
  <button
    class="comment"
    mat-icon-button
    title="Add comment"
    type="button"
    (click)="openCommentWindow()"
  >
    <mat-icon>comment</mat-icon>
  </button>
  <button
    *ngIf="!isLiked && !isLoading"
    (click)="addToFavourites()"
    class="favorites"
    title="Add to favourites"
    mat-icon-button
    type="button"
  >
    <mat-icon>favorite_border</mat-icon>
  </button>
  <button
    *ngIf="isLiked && !isLoading"
    (click)="removeFromFavourites()"
    class="favorites"
    title=" Remove from favourites"
    mat-icon-button
    type="button"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <mat-spinner *ngIf="isLoading" [diameter]="40"></mat-spinner>
</div>
