<section class="wraper">
  <div class="search-destination">
    <div class="title-container">
      <h1 class="title">Make your dreamed vacation reality!</h1>
    </div>
    <div class="subtitle-container">
      <h2 class="subtitle">Find your wanted destination</h2>
    </div>
    <div class="form-container">
      <form class="search-form">
        <input
          type="search"
          placeholder="Barcelona, Paris etc."
          name="search"
        />
        <button class="btn-search">
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </div>
  </div>

  <div class="carousel-container">
    <ng-container *ngFor="let image of images; let i = index">
      <div
        class="img-container"
        [ngClass]="{ 'image-active': selectedIndex == i }"
      >
        <img [src]="image.imageUrl" [alt]="image.alt" class="fade" />
      </div>
    </ng-container>

    <div class="carousel-dot-container">
      <ng-container *ngFor="let dot of images; let i = index">
        <span
          class="dot"
          [ngClass]="{ 'dot-active': selectedIndex == i }"
          (click)="onDotClick(i)"
        ></span>
      </ng-container>
    </div>

    <button class="arrow-left" (click)="leftArrowHandler()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <button class="arrow-right" (click)="rightArrowHandler()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</section>
