.wraper {
  width: 100%;
  height: 540px;
  margin: 70px 0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.carousel-container {
  position: relative;
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.img-container {
  display: none;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 15px;
}

.img-container.image-active {
  display: block;
  width: 100%;
}

.carousel-dot-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.dot {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin-inline: 5px;
  background-color: #002f34;
  border-radius: 50%;
  transition: opacity 0.4s ease;
  opacity: 0.4;
}

.dot-active,
.dot:hover {
  opacity: 1;
}

.arrow-left,
.arrow-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #3f51b5;
  bottom: 0;
  top: 0;
  background: 0 0;
  cursor: pointer;
  opacity: 0.4;
  transition: all 0.3s ease;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.search-destination {
  width: 35%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  font-size: 4em;
  font-weight: 900;
}

.form-container,
.title-container,
.subtitle-container {
  width: 100%;
}

.search-form {
  display: flex;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  border-radius: 10px;
  height: 70px;
}

.search-form input {
  width: 85%;
  border-radius: 20px 0 0 20px;
  height: 100%;
  padding-left: 20px;
  font-size: 14px;
  letter-spacing: 1px;
}

.btn-search {
  background-color: #3f51b5;
  height: 100%;
  width: 15%;
  border-radius: 0 10px 10px 0;
  color: #fff;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.btn-search:hover {
  background-color: #26337c;
  cursor: pointer;
}

.btn-search mat-icon {
  overflow: unset;
  font-size: 45px;
  margin: 0 0 23% 22%;
}

.flex {
  flex: 1;
}

@media screen and (max-width: 1425px) {
  .carousel-container {
    width: 45%;
  }

  .search-destination {
    width: 45%;
  }
}

@media screen and (max-width: 900px) {
  .wraper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 30px 0;
  }

  .search-destination {
    width: 90%;
    text-align: center;
    gap: 15px;
  }

  .carousel-container {
    width: 93vw;
    margin-top: 40px;
    height: 78vw;
  }

  .title {
    font-size: 2.3em;
  }
}
