.wraper {
  width: 100%;
  padding: 32px 0;
  display: flex;
  justify-content: space-evenly;
}

.carousel-container {
  position: relative;
  width: 45%;
  height: 500px;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 16px 16px #dce1e1;
}

.img-container {
  display: none;
  width: 70%;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 15px;
}

.img-container.image-active {
  display: block;
  width: 100%;
  height: 500px;
}

.carousel-dot-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.dot {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin-inline: 5px;
  background-color: #002f34;
  border-radius: 50%;
  transition: opacity 0.4s ease;
  opacity: 0.4;
}

.dot-active,
.dot:hover {
  opacity: 1;
}

.arrow-left,
.arrow-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #3f51b5;
  bottom: 0;
  top: 0;
  background: 0 0;
  cursor: pointer;
  opacity: 0.4;
  transition: all 0.3s ease;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.search-destination {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 5em;
  font-weight: 800;
}

.subtitle {
  font-size: 2.5em;
  font-weight: 100;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form input {
  width: 88%;
  border: 4px solid #3f51b5;
  border-radius: 20px 0 0 20px;
  padding: 30px;
}

.btn-search {
  background-color: #3f51b5;
  height: 100%;
  width: 12%;
  border-radius: 0 20px 20px 0;
  border: 3px solid #3f51b5;
  color: #fff;
  display: flex;
  align-items: center;
}

.btn-search mat-icon {
  overflow: unset;
  font-size: 45px;
  margin: 0 0 18px 16px;
}

.flex {
    flex: 1;
}
