.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 70px;
  flex-wrap: wrap;
}

.vacations {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  gap: 25px;
}

.vacations h1 {
  font-size: 28px;
  font-weight: 900;
}

.user-profile {
  width: 35%;
  background-color: #f0f8ff;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px 15px;
  border-radius: 20px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

.user-profile h1 {
  font-weight: 900;
}
.edit {
  color: #3f51b5;
  font-size: 18px;
  font-weight: 700;
}

.edit:hover {
  text-decoration: underline;
}

.detail {
  display: flex;
  gap: 5px;
  align-items: baseline;
  margin-bottom: 2px;
}

.user-info {
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.user-info h1 {
  margin-bottom: 5px;
  font-weight: 900;
}

.reserved {
  display: flex;
  flex-direction: column;
}

.vacation-container {
  display: flex;
  border-radius: 20px;
  border-bottom: 2px solid #d3d3d3;
  transition: all 0.3s ease;
}

.vacation-container:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-container {
  width: 50%;
  border-radius: 20px 0 0 20px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: inherit;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
@media screen and (max-width: 1200px) {
  .user-profile {
    width: 30%;
  }
  .vacations {
    width: 55%;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    flex-flow: column-reverse;
    align-items: center;
    padding-top: 50px;
    gap: 35px;
  }
  .user-profile {
    width: 90%;
  }

  .vacations {
    width: 90%;
  }

  .reserved {
    width: 100%;
  }
}
