<section class="wrapper">
  <article class="vacations">
    <h1>Your reserved vacations</h1>
    <div class="reserved">
      <div class="vacation-container">
        <div class="img-container"><img src="/assets/img/vacation.jpg" alt="" /></div>
        <div class="info">
          <h2>Destination</h2>
          <p>date</p>
        </div>
      </div>
    </div>
  </article>
  <article class="user-profile">
    <h1>Pesho peshov</h1>
    <a class="edit" routerLink="/auth/edit-profile">Edit profile</a>

    <div class="user-info">
      <h1>For Me</h1>
      <div class="details">
        <div class="detail">
          <h4>Phone:</h4>
          <p>09798696</p>
        </div>
        <div class="detail">
          <h4>Email:</h4>
          <p>09798696</p>
        </div>
        <div class="detail">
          <h4>Adress:</h4>
          <p>09798696</p>
        </div>
        <div class="detail">
          <h4>Payment methods:</h4>
          <p>09798696</p>
        </div>
      </div>
    </div>
    <div class="sign-up-date">
      <p>Sign up date:</p>
      <span>10.10.2022</span>
    </div>
  </article>
</section>
