.popular {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.title {
  font-size: 2em;
}

.text {
  text-align: center;
  margin-top: 13px;
}

.carousel {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 80vh;
  margin-block: 30px;
  position: relative;
}

.image-active img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.arrow-left,
.arrow-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #3f51b5;
  bottom: 0;
  top: 0;
  background: 0 0;
  cursor: pointer;
  opacity: 0.4;
  transition: all 0.3s ease;
}

.arrow-left {
  left: 0px;
}

.arrow-right {
  right: 0px;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

.img-container {
  display: none;
  position: relative;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container.image-active {
  display: block;
  width: 100%;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .popular {
    margin: unset;
  }
}
