<section class="banner">
  <article class="sign-up">
    <h1>Searching for best places for your vacation? We can help you!</h1>
    <div class="services">
      <p>
        <mat-icon>check</mat-icon><span>Connect with the best agencies!</span>
      </p>
      <p><mat-icon>check</mat-icon><span>24/7 support and assistence!</span></p>
      <p>
        <mat-icon>check</mat-icon
        ><span>Quality assurance and raud protection!</span>
      </p>
    </div>
    <ng-container *ngIf="auth">
      <div class="btns">
        <a class="btn" routerLink="/auth/user/login">
          <span>Sign In</span><mat-icon>login</mat-icon> </a
        ><a class="btn" routerLink="/auth/user/register">
          <span>Sign Up</span><mat-icon>login</mat-icon>
        </a>
      </div>
    </ng-container>
    <a *ngIf="!auth" class="sign-btn" routerLink="/auth">
      <span>Sign Up and find the best offers!</span><mat-icon>login</mat-icon>
    </a>
  </article>

  <article class="sign-up">
    <h1>Searching for place where your agency can grow exponentially?</h1>
    <div class="services">
      <p><mat-icon>check</mat-icon><span>30 day free period!</span></p>
      <p><mat-icon>check</mat-icon><span>24/7 support and assistence!</span></p>
      <p>
        <mat-icon>check</mat-icon><span>Thousands of searching people!</span>
      </p>
    </div>
    <ng-container *ngIf="auth">
      <div class="btns">
        <a class="btn" routerLink="/auth/agency/login">
          <span>Sign In</span><mat-icon>login</mat-icon> </a
        ><a class="btn" routerLink="/auth/agency/register">
          <span>Sign Up</span><mat-icon>login</mat-icon>
        </a>
      </div>
    </ng-container>
    <a *ngIf="!auth" class="sign-btn" routerLink="/auth">
      <span>Sign Up and grow exponentially!</span>
      <mat-icon>login</mat-icon>
    </a>
  </article>
</section>
