.banner {
  width: 100%;
  max-width: 1600px;
  min-height: 350px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-block: 10%;
}

.sign-up {
  width: 30%;
  justify-content: space-between;
  gap: 10px;
  display: flex;
  flex-direction: column;
  font-family: "Balsamiq Sans", cursive;
}

.sign-up h1 {
  font-size: 27px;
  letter-spacing: 1px;
}

.services p {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.services p mat-icon {
  margin-bottom: 2px;
  color: green;
}

.services p span {
  font-style: italic;
  color: black;
}

.sign-btn {
  color: #fff;
  width: 100%;
  background-color: #3f51b5;
  border: 2px solid #3f51b5;
  border-radius: 10px;
  padding-block: 15px;
  padding-inline: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  letter-spacing: 0.4px;
  transition: all 0.3s ease;
}

.sign-btn mat-icon {
  width: 34px;
  height: 24px;
  font-size: 24px;
}

.sign-btn:hover {
  background-color: #fff;
  color: #3f51b5;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

@media screen and (max-width: 1100px) {
  .sign-up {
    width: 80%;
  }
  .banner {
    gap: 55px;
  }
}

@media screen and (max-width: 600px) {
  .sign-up {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .sign-btn {
    font-size: 15px;
  }
}
