<div class="title-container">
  <h1 class="title">Make your dreamed vacation reality!</h1>
</div>
<div class="subtitle-container">
  <h2 class="subtitle">Find your wanted destination</h2>
</div>
<div class="form-container">
  <form
    #searchForm="ngForm"
    class="search-form"
    (ngSubmit)="searchHandler(searchForm)"
  >
    <input
      ngModel
      #search="ngModel"
      type="search"
      placeholder="Barcelona, Paris etc."
      required
      name="search"
    />
    <button class="btn-search">
      <mat-icon>search</mat-icon>
    </button>
  </form>
</div>
