<section class="register">
  <article class="header-container">
    <h1>Sign up</h1>
    <p>You already have account? <a routerLink="/auth/login">Login</a></p>
  </article>
  <div class="forms-container">
    <div class="options">
      <button
        #user
        class="opt-btn selected"
        (click)="handleOptionBtn(user, agency, email, username)"
      >
        <span>User Sign up</span>
        <mat-icon>login</mat-icon>
      </button>
      <button
        #agency
        class="opt-btn"
        (click)="handleOptionBtn(agency, user, username, email)"
      >
        <span>Agency Sign up</span>
        <mat-icon>login</mat-icon>
      </button>
    </div>
    <div class="form">
      <div #username class="user-form">
        <app-user-register></app-user-register>
      </div>
      <div #email class="agency-form">
        <app-agency-register></app-agency-register>
      </div>
    </div>
  </div>
</section>
