<section class="login">
  <article class="header-container">
    <h1>Agency Sign In</h1>
    <p>
      Your Agency don't have account yet?
      <a routerLink="/agency/register">Sign Up</a>
    </p>
  </article>
  <div class="form-container">
    <form [formGroup]="agencyLoginForm" (submit)="handleAgencyLogin()">
      <div class="email">
        <input
          [ngClass]="{ 'input-error': errHandler(agencyLoginForm, 'email') }"
          formControlName="email"
          type="text"
          name="email"
          placeholder="Email"
        />
        <ng-container>
          <p
            *ngIf="agencyLoginForm.controls['email'].errors?.['required'] && errHandler(agencyLoginForm, 'email')"
            class="error"
          >
            Email is required!
          </p>
        </ng-container>
      </div>
      <div class="password">
        <input
          [ngClass]="{ 'input-error': errHandler(agencyLoginForm, 'password') }"
          formControlName="password"
          type="password"
          name="password"
          placeholder="Password"
        />
        <ng-container>
          <p
            *ngIf="agencyLoginForm.controls['password'].errors?.['required'] && errHandler(agencyLoginForm,'password')"
            class="error"
          >
            Password is required!
          </p>
        </ng-container>
      </div>
      <button class="sign-in-btn" type="submit">
        <span>Sign in</span>
        <mat-icon>login</mat-icon>
      </button>
    </form>
  </div>
</section>
