.vacations {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.vacations h1 {
  font-size: 28px;
  font-weight: 900;
}

.reserved {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 3%;
  width: 100%;
}
