<section class="wrapper">
  <div class="container">
    <article class="header">
      <h1>All Countries</h1>
      <form>
        <input type="search" name="search" placeholder="Search country" />
        <button>
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </article>
    <article class="countries-container">
      <ng-container *ngFor="let country of countries">
        <app-country-item [country]="country"></app-country-item>
      </ng-container>
    </article>
  </div>
</section>
