.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 7%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.header h1 {
  font-size: 28px;
}

.header form {
  display: flex;
  width: 30%;
  align-items: center;
  height: 55px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.header form input {
  border: none;
  height: 100%;
  width: 80%;
  border-radius: 10px 0 0 10px;
  padding: 15px;
}

.header form button {
  height: 100%;
  width: 20%;
  background-color: #3f51b5;
  border-radius: 0 10px 10px 0;
}

.countries {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.countries-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

app-country-item {
  width: 90%;
}

@media screen and (max-width: 1100px) {
  .header form {
    width: 40%;
  }
}

@media screen and (max-width: 900px) {
  .header form {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .header form {
    width: 100%;
  }

  .countries-container {
    width: 100%;
  }

  .container {
    width: 100%;
  }
}
