<app-spinner *ngIf="isLoading"></app-spinner>
<section class="wrapper" *ngIf="!isLoading">
  <div class="container">
    <article class="header">
      <h1>All Countries</h1>
      <form
        #searchCountryForm="ngForm"
        (ngSubmit)="countryFormHandler(searchCountryForm)"
      >
        <input
          ngModel
          #search="ngModel"
          required
          type="search"
          name="search"
          placeholder="Search country"
        />
        <button>
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </article>
    <div class="pagination-spinner-container" *ngIf="paginationLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="countries-container" *ngIf="!paginationLoading">
      <ng-container *ngFor="let country of countries">
        <app-country-item [country]="country"></app-country-item>
      </ng-container>
    </div>
    <app-pagination
      [pages]="pages"
      (sendCurrentPage)="setCurrentPage($event)"
    ></app-pagination>
  </div>
</section>
