<section class="container" *ngIf="!(isLoading$ | async)">
  <h1 class="title">Review Offer</h1>
  <div class="close-btn" (click)="closeReviewContainer()">
    <mat-icon>close</mat-icon>
  </div>
  <div class="stars" #starContainer>
    <ng-container mat-icon-button *ngFor="let rate of rates; let i = index">
      <mat-icon (click)="rateHandler(starContainer, i, rate)"
        >star_border</mat-icon
      >
    </ng-container>
  </div>
  <ng-container
    *ngIf="
      reviewForm.controls['rating'].touched &&
      reviewForm.controls['rating'].invalid
    "
  >
    <p class="error rating-err">Rating is required!</p>
  </ng-container>
  <form class="form" [formGroup]="reviewForm" (submit)="reviewHandler()">
    <div>
      <textarea
        name="review"
        placeholder="Write you review"
        cols="30"
        rows="10"
        formControlName="content"
      ></textarea>
      <ng-container
        *ngIf="
          reviewForm.controls['content'].touched &&
          reviewForm.controls['content'].invalid
        "
      >
        <p
          class="error"
          *ngIf="reviewForm.controls['content'].errors?.['required']"
        >
          Review content is required!
        </p>
      </ng-container>
    </div>
    <button type="submit">
      <mat-icon>send</mat-icon>
      <span>Send</span>
    </button>
  </form>
</section>
