<div class="agency-contacts">
  <h3>Contacts Information</h3>
  <div class="details">
    <h4 class="detail">
      <span>Phone:</span
      ><span class="info">{{ agencyData.phone || default }}</span>
    </h4>
    <h4 class="detail">
      <span>Address:</span
      ><span class="info">{{ agencyData.address || default }}</span>
    </h4>
    <h4 class="detail">
      <span>Email:</span
      ><span class="info">{{ agencyData.email || default }}</span>
    </h4>
    <h4 class="detail">
      <span>Website:</span
      ><span class="info">{{ agencyData.website || default }}</span>
    </h4>
  </div>
  <div class="basic-info">
    <h5>Basic Information</h5>
    <h4 class="detail">
      <span>In Vacation-App From:</span
      ><span class="info">{{ agencyData.phone | date: "shortDate" }}</span>
    </h4>
    <h4 class="detail">
      <span>Added Offers:</span
      ><span class="info">{{ agencyData.offers.length }}</span>
    </h4>
  </div>
</div>
