<div class="agency-contacts">
  <h3>Contact Information</h3>
  <div class="details">
    <h4 class="detail">
      <span>Phone:</span><span class="info">0987986989</span>
    </h4>
    <h4 class="detail">
      <span>Address:</span><span class="info">agency address</span>
    </h4>
    <h4 class="detail">
      <span>Email:</span><span class="info">agency email</span>
    </h4>
    <h4 class="detail">
      <span>Website:</span><span class="info">agency website</span>
    </h4>
  </div>
  <div class="basic-info">
    <h5>Basic Information</h5>
    <h4 class="detail">
      <span>In Vacation-App From:</span><span class="info">10/12/2022</span>
    </h4>
    <h4 class="detail">
      <span>Added Offers:</span><span class="info">10</span>
    </h4>
  </div>
</div>
